<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>신청된 작품 목록</title>
</head>
<body>
<div layout:fragment="content">
    <div class="auctionList-container mx-auto px-6 lg:px-[300px] min-h-[600px]">
        <h1 class="text-2xl font-bold text-center py-5">신청된 작품 목록</h1>


        <!-- 경매 목록 -->
        <ul class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-5 mt-4">
            <li th:each="product : ${products}" class="flex flex-col group bg-white border border-gray-300 overflow-hidden product-item">
                <a th:href="@{|/product/detail/${product.id}|}"
                   class="block w-full h-64 bg-gray-100 overflow-hidden transition-transform duration-500 hover:translate-y-[-6px] hover:shadow-md">
                    <img class="object-contain object-center w-full h-full transition-transform duration-500"
                         th:src="@{|/${product.thumbnailImg}|}"
                         alt="이미지가 존재하지 않습니다.">
                </a>
                <div class="p-4 flex flex-col flex-grow">
                    <div class="flex items-center justify-between">
                        <span th:text="${product.title}" class="text-left font-bold text-lg"></span>
                    </div>
                    <div class="text-gray-500 text-sm mt-2">
                        <span th:text="${product.artist.korName}">작가 이름</span>
                    </div>
                    <div class="text-gray-500 text-sm mt-2">
                        시작일:<span th:text="${#temporals.format(product.auctionStartDate, 'yyyy년 MM월 dd일 HH:mm')}"></span>
                    </div>
                    <div class="text-gray-500 text-sm mt-2">
                        마감일:<span th:text="${#temporals.format(product.auctionEndDate, 'yyyy년 MM월 dd일 HH:mm')}"></span>
                    </div>
                    <hr class="my-2">
                    <span class="text-gray-500 text-sm">현재가</span>
                    <span th:text="|KRW ${product.startingPrice}|" class="text-black text-sm"></span>
                    <div th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}" class="flex justify-between mt-4">
                        <form th:action="@{/product/approve/{productId}(productId=${product.id})}" method="post">
                            <button type="submit" class="bg-green-500 text-white py-1 px-2 rounded">승인</button>
                        </form>
                        <form th:action="@{/product/reject/{productId}(productId=${product.id})}" method="post">
                            <button type="submit" class="bg-red-500 text-white py-1 px-2 rounded">거절</button>
                        </form>
                    </div>
                </div>
            </li>
        </ul>

        <!-- 경매가 없을 경우 -->
        <div th:if="${#lists.isEmpty(products)}" class="flex justify-center items-center h-80">
            <p class="text-center text-gray-500 text-lg">경매 신청된 작품이 없습니다.</p>
        </div>
    </div>
</div>
</body>
</html>
