<html layout:decorate="~{layout/layout}">
<div layout:fragment="content">
    <div class="productDetailContainer mx-auto px-6 lg:px-[300px] min-h-[900px]">
        <div id="productDetailContainer" class="bg-white shadow-md rounded-lg overflow-hidden min-h-[900px]">

            <div class="p-4 flex flex-col lg:flex-row">
                <!-- 이미지 부분 -->
                <div class="w-full lg:w-[900px] lg:px-[100px] p-4 flex items-center justify-center border-b border-gray-300">
                    <img class="w-full max-w-[300px] border auctionProductTarget"
                         th:src="@{|/file/${product.thumbnailImg}|}" alt="상품이미지">
                </div>

                <!-- 정보 부분 -->
                <div id="infoSection" class="w-full lg:w-[338px] px-4 pb-4">
                    <div class="text-sm lg:text-base">
                        <div class="py-2">
                            NO.<span th:text="${product.id}"></span>
                        </div>
                        <div class="flex justify-between">
                        <span class="text-xl lg:text-3xl font-bold">
                            <span th:text="${product.artist.korName}"></span>
                        </span>
                        </div>
                        <div class="flex justify-between">
                            <span class="text-base lg:text-lg font-medium text-gray-600" th:text="${product.artist.engName}"></span>
                        </div>
                        <div class="py-2 flex justify-between">
                            <span class="text-lg lg:text-xl font-medium mt-1" th:text="${product.title}"></span>
                        </div>
                        <div class="flex justify-between">
                            <span class="text-xs lg:text-sm text-gray-600" th:text="${product.medium}"></span>
                        </div>
                        <div class="flex text-xs lg:text-sm text-gray-600 mb-3">
                            <div th:text="${product.width}"></div>
                            <div>x</div>
                            <div th:text="${product.height}"></div>
                            <div>cm</div>
                        </div>
                        <hr>
                        <div class="py-2 flex justify-between text-xs lg:text-sm">
                            <span class="font-medium">시작가</span>
                            <span th:text="|KRW ${product.formattedStartingPrice}|"></span>
                        </div>
                        <div class="py-2 flex justify-between text-xs lg:text-sm">
                            <span class="font-medium">현재가</span>
                            <span>
                                 <span th:if="${highestBidder != null}">
                                    (<span th:text="${highestBidder.username}"></span>)
                                 </span>
                                <span th:text="|KRW ${product.formattedCurrentBid}|"></span>
                            </span>
                        </div>
                        <div class="py-2 flex justify-between text-xs lg:text-sm mt-1">
                            <span class="font-medium">마감일</span>
                            <span th:text="${#temporals.format(product.auctionEndDate, 'yyyy-MM-dd HH:mm')}"></span>
                        </div>
                        <hr>

                        <!-- 입찰 Form 시작 -->
                        <form sec:authorize="isAuthenticated()" th:action="@{/auction/bid}" method="post"
                              th:classappend="${auctionStatus == 'CLOSED' ? 'pointer-events-none opacity-50' : ''}">
                            <input type="hidden" name="productId" th:value="${product.id}"/>
                            <!-- 입찰 금액 입력 필드와 레이블을 조건부로 표시 -->
                            <div th:if="${auctionStatus == 'ACTIVE'}" class="mt-3">
                                <label for="bidAmount" class="block text-xs lg:text-sm font-medium text-gray-700">
                                    입찰 금액
                                </label>
                                <input type="number" name="bidAmount" id="bidAmount" class="block w-full mt-1 text-sm lg:text-base border-b border-gray-300 focus:outline-none"
                                       placeholder="입찰 금액을 입력하세요." required>
                            </div>
                            <button
                                    type="submit"
                                    class="bg-black border border-[#b5b5b5] w-full h-[50px] text-sm lg:text-lg text-white mt-3 transition-colors duration-150 ease-in-out hover:bg-sky-700 hover:border-[#8c8c8c]"
                                    th:text="${auctionStatus == 'ACTIVE' ? '응찰하기' : (product.winningBidder != null ? '응찰 종료' : '응찰 전')}"
                                    th:disabled="${auctionStatus != 'ACTIVE'}">
                            </button>
                        </form>

                        <div sec:authorize="isAnonymous()" class="flex justify-center items-center">
                            <a th:href="@{/member/login}">로그인</a> 후 이용해주세요.
                        </div>
                        <!-- 입찰 Form 끝 -->

                        <!-- 입찰 취소 Form 시작 -->
                        <form sec:authorize="isAuthenticated()" th:if="${auctionStatus == 'ACTIVE' && currentBid != null}" th:action="@{/auction/cancelBid}" method="post">
                            <input type="hidden" name="bidId" th:value="${currentBid.id}"/>
                            <button
                                    type="submit"
                                    class="bg-red-500 border border-[#b5b5b5] w-full h-[50px] text-sm lg:text-lg text-white mt-3 transition-colors duration-150 ease-in-out hover:bg-red-700 hover:border-[#8c8c8c]"
                                    th:text="'입찰 취소'">
                            </button>
                        </form>
                        <!-- 입찰 취소 Form 끝 -->

                        <div class="flex justify-center items-center mt-2 text-gray-600 text-xs lg:text-sm">
                            <i class="fa-solid fa-headset"></i>&nbsp;<a th:href="@{/question/list}">작품문의</a>
                            <div>&nbsp;|&nbsp;</div>
                            <div>042-1234-5678</div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="p-4 w-full lg:w-[650px] lg:px-[100px] break-words">
                <div class="w-full max-w-md p-6">
                    <div class="mt-4 mb-20 text-sm lg:text-base">
                        <div class="flex justify-start items-center mt-2 text-gray-600">
                            <div class="text-black text-lg">작품 설명</div>
                            <div>&nbsp;|&nbsp;</div>
                            <div>Product Detail</div>
                        </div>
                        <p class="text-gray-700 text-xs lg:text-sm" th:text="${product.medium}"></p>
                        <div class="flex text-gray-700 text-xs lg:text-sm">
                        <p th:text="${product.width}"></p>
                        <p>x</p>
                        <p th:text="${product.height}"></p>
                        <p>cm</p>
                        </div>
                        <p class="text-gray-700 text-xs lg:text-sm" th:text="${product.category}"></p>
                        <p class="text-gray-700 mt-3 text-xs lg:text-sm" th:text="${product.description}"></p>
                    </div>
                    <div class="mt-4 mb-20 text-sm lg:text-base">
                        <div class="flex justify-start items-center mt-2 text-gray-600">
                            <div class="text-black text-lg">작가 소개</div>
                            <div>&nbsp;|&nbsp;</div>
                            <div>Artist Introduce</div>
                        </div>
                        <p class="text-gray-700 text-xs lg:text-sm" th:text="${product.artist.korName}"></p>
                        <p class="text-gray-700 text-xs lg:text-sm" th:text="${product.artist.majorWork}"></p>
                        <p class="text-gray-700 mt-3 text-xs lg:text-sm" th:text="${product.artist.introduce}"></p>
                    </div>
                </div>
                <div class="flex" sec:authorize="hasAuthority('ADMIN')">
                    <div class="btn bg-blue-500" >
                        <a th:href="@{|/product/modify/${product.id}|}"
                        >수정</a>
                    </div>
                    <div class="btn bg-red-500 productDetail-delete ml-4" th:data-uri="@{|/product/delete/${product.id}|}">
                        삭제
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
</html>
