<html layout:decorate="~{layout/layout}">
<div layout:fragment="content">
    <div class="productList-container mx-auto px-6 lg:px-[300px] min-h-[600px]">
        <div class="bg-white" style="background-image: url('/image/작품페이지배너.png');">
        <h1 class="text-2xl font-black text-center py-5 text-black">모든 작품</h1>
        </div>
        <div id="search_container" class="flex flex-col-reverse sm:flex-row justify-between py-2 items-center space-y-4 sm:space-y-0">

            <!-- 드롭다운 추가 부분 -->
            <div class="relative flex-shrink-0 sm:order-2 order-1 mb-2 sm:mb-0">
                <button id="product-sortButton" class="border border-black text-gray-700 px-4 py-2 w-48 flex items-center justify-center">
                    <span id="product-sortText">정렬하기</span> <i class="fa-solid fa-caret-down ml-2"></i>
                </button>
                <div id="product-sortDropdown" class="absolute left-0 w-48 bg-white border border-gray-300 shadow-lg z-10 hidden">
                    <a href="#" class="product-a block px-4 py-2 text-gray-800 hover:bg-gray-100" data-sort="price-asc">가격 낮은 순</a>
                    <a href="#" class="product-a block px-4 py-2 text-gray-800 hover:bg-gray-100" data-sort="price-desc">가격 높은 순</a>
                    <a href="#" class="product-a block px-4 py-2 text-gray-800 hover:bg-gray-100" data-sort="latest">최신 순</a>
                </div>
            </div>

            <!-- 검색 폼 -->
            <form id="product-searchForm" class="flex border border-gray-300 rounded-lg overflow-hidden w-full sm:w-auto sm:order-1 order-2 mb-2 sm:mb-0">
                <input type="text" name="kw" id="search_input" placeholder="작가 또는 작품명"
                       class="px-4 py-2 w-full sm:w-64 focus:outline-none" th:value="${kw}"/>
                <button type="submit" id="search_button" class="bg-white text-gray-600 px-4 flex items-center justify-center ml-auto sm:mt-0">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
                <input type="hidden" name="sort" id="product-sortInput" th:value="${sort}"/>
                <input type="hidden" name="auction" id="auctionInput" th:value="${auction}"/>
                <input type="hidden" name="viewAll" id="viewAllInput" value="false"/>
            </form>
        </div>

        <ul class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-5 mt-4">
            <li th:each="product, loop : ${paging}" class="flex flex-col group bg-white border border-gray-300 overflow-hidden product-item"
                data-auction-active="${product.auctions.size > 0 && product.auctions[0].status == 'ACTIVE'}">
                <a th:href="@{|/product/detail/${product.id}|}"
                   class="block w-full h-64 bg-gray-100 overflow-hidden transition-transform duration-500 hover:translate-y-[-6px] hover:shadow-md">

                    <div sec:authorize="isAuthenticated()">
                        <form th:action="@{/product/like}" method="post">
                            <input type="hidden" name="productId" th:value="${product.id}" />
                            <input type="hidden" name="memberId" th:value="${member.id}" />
                            <button type="submit" style="background: none; border: none; cursor: pointer;">
                                <i class="fa-heart"
                                   th:classappend="${likedProductIds.contains(product.id) ? 'fa-solid' : 'fa-regular'}"
                                   style="color: red;"></i>
                            </button>
                        </form>
                    </div>
                    <img class="object-contain object-center w-full h-full transition-transform duration-500"
                         th:src="@{${product.thumbnailImg}}"
                         alt="이미지가 존재하지 않습니다.">
                </a>
                <div class="p-4 flex flex-col flex-grow">
                    <span th:text="${product.artist.korName}" class="text-left font-bold text-lg"></span>
                    <span th:text="${product.title}" class="text-left text-md mt-1"></span>
                    <span class="flex text-xs mt-3">
                        <span th:text="${product.dimensions}" class="text-gray-500"></span>
                        <span class="text-gray-500 mx-1">|</span>
                        <span th:text="${product.medium}" class="text-gray-500"></span>
                    </span>
                    <hr class="my-2">
                        <span class="text-gray-500 text-sm">현재가</span>
                        <span th:text="|KRW ${product.formattedCurrentBid}|" class="text-black text-sm">
                    </span>

                </div>
            </li>
        </ul>

        <div th:if="${paging.empty}" class="flex justify-center items-center h-80">
            <p class="text-center text-gray-500 text-lg">작품이 존재하지 않습니다.</p>
        </div>

        <!-- 페이징 처리 시작 -->
        <ul th:if="${!paging.isEmpty()}" class="flex justify-center items-center mt-10 mb-2 space-x-2">
            <!-- 이전 페이지 버튼 -->
            <li th:classappend="${!paging.hasPrevious} ? 'opacity-50 cursor-not-allowed'">
                <a class="flex items-center justify-center px-4 py-2 border border-gray-300 rounded-lg text-gray-600 bg-white hover:bg-gray-200 hover:text-gray-800 transition-colors duration-200 ease-in-out page-link"
                   href="javascript:void(0)" th:data-page="${paging.number-1}">
                    <span class="font-semibold text-lg">&lt;</span>
                </a>
            </li>

            <!-- 페이지 번호 -->
            <li th:each="page : ${#numbers.sequence(0, paging.totalPages-1)}"
                th:if="${page >= paging.number-4 and page <= paging.number+4}"
                th:classappend="${page == paging.number} ? 'text-white border-blue-600'">
                <a th:text="${page+1}"
                   class="flex items-center justify-center px-4 py-2 border border-gray-300 rounded-lg text-gray-600 bg-white hover:bg-gray-200 hover:text-gray-800 transition-colors duration-200 ease-in-out page-link"
                   href="javascript:void(0)" th:data-page="${page}"></a>
            </li>

            <!-- 다음 페이지 버튼 -->
            <li th:classappend="${!paging.hasNext} ? 'opacity-50 cursor-not-allowed'">
                <a class="flex items-center justify-center px-4 py-2 border border-gray-300 rounded-lg text-gray-600 bg-white hover:bg-gray-200 hover:text-gray-800 transition-colors duration-200 ease-in-out page-link"
                   href="javascript:void(0)" th:data-page="${paging.number+1}">
                    <span class="font-semibold text-lg">&gt;</span>
                </a>
            </li>
        </ul>
    </div>
</div>
</html>
