<!DOCTYPE html>
<html lang="ko" layout:decorate="~{layout/layout}">
<head>
    <title th:text="${artist.korName} + '의 작품들'">작가 작품들</title>
</head>
<body>
<div layout:fragment="content">
    <div class="productList-container mx-auto px-6 lg:px-[300px] min-h-[600px]">
        <div class="bg-white" style="background-image: url('/images/작품페이지배너.png');">
            <h1 class="text-2xl font-black text-center py-5 text-black" th:text="${artist.korName} + '의 작품들'"></h1>
        </div>

        <!-- 작품 리스트 -->
        <ul class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-5 mt-4">
            <li th:each="product : ${artistProducts}" class="flex flex-col group bg-white border border-gray-300 overflow-hidden product-item">
                <a th:href="@{|/product/detail/${product.id}|}"
                   class="block w-full h-64 bg-gray-100 overflow-hidden transition-transform duration-500 hover:translate-y-[-6px] hover:shadow-md">
                    <img class="object-contain object-center w-full h-full transition-transform duration-500"
                         th:src="@{|/file/${product.thumbnailImg}|}"
                         alt="이미지가 존재하지 않습니다.">
                </a>
                <div class="p-4 flex flex-col flex-grow">
                    <div class="flex items-center justify-between">
                        <span th:text="${product.title}" class="text-left font-bold text-lg"></span>
                    </div>
<!--                    <span class="flex text-xs mt-3">-->
<!--                            <span th:text="${product.dimensions}" class="text-gray-500"></span>-->
<!--                            <span class="text-gray-500 mx-1">|</span>-->
<!--                            <span th:text="${product.medium}" class="text-gray-500"></span>-->
<!--                        </span>-->
                    <hr class="my-2">
                    <span class="text-gray-500 text-sm">현재가</span>
                    <span th:text="|KRW ${product.formattedCurrentBid}|" class="text-black text-sm"></span>
                    <div th:if="${#authentication.getPrincipal().getUsername() == product.artist.author.username && !product.auctioned}">
                        <a th:href="@{|/product/productCreate/${product.id}|}" class="btn btn-primary" style="height: 25px; margin-top: 10px;">경매에 올리기</a>
                    </div>
                </div>
            </li>
        </ul>

        <!-- 작품이 없을 경우 -->
        <div th:if="${#lists.isEmpty(artistProducts)}" class="flex justify-center items-center h-80">
            <p class="text-center text-gray-500 text-lg">등록된 작품이 없습니다.</p>
        </div>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const auctionButtons = document.querySelectorAll('.btn-primary');

        auctionButtons.forEach(button => {
            button.addEventListener('click', function(event) {
                event.preventDefault();  // 기본 동작을 막고
                const url = button.getAttribute('href');
                fetch(url, { method: 'POST' })  // 경매 등록 요청을 보낸 다음
                    .then(response => {
                        if (response.ok) {
                            button.style.display = 'none';  // 성공적으로 요청이 완료되면 버튼을 숨김
                            location.reload(); // 페이지 새로고침
                        } else {
                            alert('경매 등록에 실패했습니다. 다시 시도해주세요.');
                        }
                    })
                    .catch(error => {
                        console.error('Error:', error);
                        alert('경매 등록 중 오류가 발생했습니다.');
                    });
            });
        });
    });
</script>
</body>
</html>
