<html layout:decorate="~{layout/layout}">
<div layout:fragment="content">
    <!-- 모바일 메뉴 토글 버튼 -->
    <div class="admin-manage-menu-toggle-btn "><i class="fa-solid fa-user-tie"></i></div>

    <div class="lg:fixed top-24 lg:left-10 w-full lg:w-64 pt-16 pb-4 pl-0 lg:pr-4 z-10 admin-manage-sidebar h-auto lg:h-80 flex flex-col lg:flex-col">
        <ul>
            <li class="flex flex-col mb-6">
                <span class="menu-header">경매 관리</span>
                <a th:href="@{/admin/auction/list}" class="mg_menu_btn">경매 내역 관리</a>
                <a th:href="@{/auction/create}" class="mg_menu_btn">경매 추가</a>
            </li>
            <li class="flex flex-col">
                <span class="menu-header">회원 관리</span>
                <a th:href="@{/admin/member/list}" class="mg_menu_btn">회원 권한 설정</a>
                <a th:href="@{/artist/pending-approval}" class="mg_menu_btn">작가 신청 내역</a>
            </li>
            <li class="flex flex-col">
                <span class="menu-header">문의 관리</span>
                <a th:href="@{/admin/question/manage}" class="mg_menu_btn">문의 관리</a>
                <a th:href="@{/admin/question/faqManage}" class="mg_menu_btn">FAQ 관리</a>
                <a href="https://desk.channel.io/#/channels/176370/user_chats/66ccc17b21e520ce4081" class="mg_menu_btn">채팅 관리</a>
            </li>
        </ul>
    </div>
    <div class="container mx-auto px-6 lg:px-[300px] min-h-[1000px]">
        <div class="text-center">
            <h1 class="text-2xl font-black text-center py-5 text-black">FAQ 작성 페이지</h1>
        </div>
        <form class="text-center mb-8" th:action="@{/admin/question/faqWrite}" th:object="${postForm}" method="post">
            <div class="flex">
                <div class=" p-2">
                <label class="block text-gray-700 text-lg mb-2" for="postType"></label>
                <select id="postType" name="postType" class="w-full p-2 border border-gray-300 rounded" required>
                    <option value="" disabled selected>유형을 선택해주세요</option>
                    <option value="ARTWORK">작품</option>
                    <option value="ARTIST">작가</option>
                    <option value="PURCHASE">구매</option>
                    <option value="SERVICE">SERVICE</option>
                    <option value="DELIVERY">배송</option>
                    <option value="RETURN">환불</option>
                    <option value="OTHER">기타</option>
                </select>
            </div>
                <div class=" w-full p-2">
                    <label class="block text-gray-700 text-lg mb-2" for="subject"></label>
                    <input type="text" id="subject" name="subject" class="w-full p-2 border border-gray-300 rounded" placeholder="제목을 입력해주세요." required>
                </div>
            </div>

            <div class=" p-2">
                <label class="block text-gray-700 text-lg mb-2" for="content"></label>
                <textarea id="content" name="content" rows="20" class="w-full p-2 border border-gray-300 rounded"  placeholder="내용을 입력해주세요." required></textarea>
            </div>

            <button type="submit" class="inline-block px-6 py-3 text-white bg-green-600 hover:bg-green-700 rounded-lg font-medium transition ease-in-out duration-150">작성 완료</button>
        </form>
    </div>
</div>
</html>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const menuToggleBtn = document.querySelector(".admin-manage-menu-toggle-btn");
        const sidebar = document.querySelector(".admin-manage-sidebar");

        menuToggleBtn.addEventListener("click", function () {
            sidebar.classList.toggle("active");
        });
    });
</script>
