<nav th:fragment="footerFragment" class="footer">
    <footer>
        <div class="footer-container">
            <div class="footer-links">
                <div class="footer-icons">
                <a th:href="@{/home/introduce}">회사소개</a>
                <a th:href="@{${@environment.getProperty('custom.file.path')}}" download="Art Auction-이용약관.pdf">이용약관</a>
                </div>
                <div class="footer-icons">
                    <a href="#">FAQ</a>
                    <a href="https://www.youtube.com/channel/UCUkFtFAesN-YZ7cK0ry13Vg">Youtube</a>
                </div>
            </div>
            <hr class="footer-hr">
            <div class="footer-info">
                <p>대표이사: 홍길동 | 대표전화: 042-1234-5678</p>
                <p>주소: 대전광역시 서구 대덕대로 179 굿모닝어학원빌딩 9층</p>
                <p>케이옥션 사이트의 이미지 및 영상, 문자 등의 자료 또는 정보(웹사이트 화면 포함)에 대한 무단복제, 전송, 배포, 크롤링/스크래핑 등의
                    <br>행위는 저작권법, 부정경쟁방지 및 영업비밀보호에 관한 법률 등 관련 법령에 의하여 엄격히 금지됩니다.</p>
                <p>Copyright ⓒ Art Auction. All Rights Reserved</p>
            </div>
        </div>
    </footer>

</nav>
