<nav th:fragment="headerFragment" class="header">
    <header class="header_container" >
        <div class="logo">Art Auction</div>
        <nav class="header_nav">
            <a href="#">경매</a>
            <a href="#">작가</a>
            <a href="#">캘린더</a>
        </nav>
        <div class="search_container">
            <button id="searchBtn">🔍</button>
            <input type="text" id="searchInput" placeholder="검색...">
        </div>
        <a href="#" id="header_loginBtn">로그인</a>
    </header>

</nav>
