<nav th:fragment="headerFragment" class="header">
    <section class="header_container">
        <nav class="header_nav">
            <div class="nav__logo">
                <a href="/" class="main_logo">
                    <img th:src="@{/image/logo1.png}" alt="이미지">
                </a>
            </div>
            <nav class="nav__main">
                <ul class="flex">
                    <li><a href="#" class="block"><span>경매</span></a></li>
                    <li><a href="#" class="block"><span>작품</span></a></li>
                    <li><a href="#" class="block"><span>캘린더</span></a></li>
                </ul>
            </nav>

            <ul class="nav__login">
                <li>
                    <a id="header_loginBtn" sec:authorize="isAnonymous()" th:href="@{/member/login}">로그인</a>
                    <a id="header_logoutBtn" sec:authorize="isAuthenticated()" th:href="@{/member/logout}">로그아웃</a>

                </li>
            </ul>

            <a href="#" class="nav__bar">
                <i class="fa-solid fa-bars"></i>
            </a>

        </nav>
    </section>
</nav>
