<html layout:decorate="~{layout/layout}">
<div layout:fragment="content">



    <div class="container mx-auto px-4 min-h-[1200px]">


        <div class="container py-4 ">
            <div class="container mx-auto h-[150px] py-3 flex items-center justify-center">
                <h1 class="text-5xl">CONTACT</h1>
            </div>
            <div class="container mx-auto px-[200px] flex items-center justify-end">
                <div>
                    <div class="flex items-center">
                        <div >
                            <span>작성자 : </span>
                        </div>
                        <div class="ml-2">
                            <span class="font-bold" th:text="${question.member.nickname}"></span>
                        </div>
                    </div>
                    <div class="flex items-center">
                        <div>
                            <span>작성일 : </span>
                        </div>
                        <div class="ml-2">
                            <span  th:text="${#temporals.format(question.createDate, 'yyyy-MM-dd')}"></span>
                        </div>
                    </div>
                </div>


            </div>
            <div class="container mx-auto min-h-[600px] px-[200px]">
                <div class="border-2 border-slate-300 min-h-[70px] mb-10 flex items-center justify-center">
                    <h1 th:text="${question.subject}"></h1>
                </div>
                <div class="border-2 border-slate-300 min-h-[500px] my-10 px-3 py-3">

                    <div class="min-h-[300px]">
                        <ul>

                            <li th:text="${question.content}"></li>
                        </ul>
                    </div>
                    <hr>
                    <div>
                        <li><img class="py-3" th:src="@{|/file/${question.thumbnailImg}|}" alt="(이미지 없음)"></li>
                    </div>
                </div>

            </div>



            <div class="container mx-auto min-h-[200px] px-[200px]">
                <div class="flex">
                    <div>
                        <i class="fa-regular fa-hand-point-down"></i>
                    </div>
                    <div>
                        <h5 class="text-xl ml-2" th:text="|${#lists.size(question.answerList)}개의 답변이 있습니다.|"></h5>
                    </div>
                </div>

                <div >
                    <ul class="py-2" th:each="answer : ${question.answerList}">
                        <li class="text-[#D5A770] text-xl" th:text="${answer.member.username}"></li>
                        <li class="" th:text="${answer.content}"></li>
                    </ul>
                </div>


            </div>

            <div th:if="${#authorization.expression('isAuthenticated()') and #authentication.principal.username == 'admin'}"
                    class="container mx-auto h-[200px] px-[200px]">
                <form th:action="@{|/answer/create/${question.id}|}" method="post">
                    <textarea class="h-[100px] w-full border-2 border-slate-300" name="content" id="content" rows="10"></textarea>
                    <input class="bg-black text-[#D5A770] text-xl h-10 px-4 my-3 rounded-xl w-full block" type="submit" value="답변등록">
                </form>

            </div>
        </div>
    </div>
</div>
</html>
