<html layout:decorate="~{layout/layout}">
<div layout:fragment="content">
    <div class="container mx-auto px-4 min-h-[1200px] flex ">
        <div class="container w-[600px] ">
            <div class="fixed container ml-[150px] w-[300px] h-[380px] mt-[200px] bg-stone-100">
                <div class="container mx-auto  h-[250px]">
                    <ul>
                        <li class="text-center text-neutral-400 font-bold text-xl py-2"><a href="#ViewArtworkAndArtist">작품 및 작가</a></li>
                        <li class="text-center text-neutral-400 font-bold text-xl py-2"><a href="#ViewPurchase">구매</a></li>
                        <li class="text-center text-neutral-400 font-bold text-xl py-2"><a href="#ViewService">SERVICE</a></li>
                        <li class="text-center text-neutral-400 font-bold text-xl py-2"><a href="#ViewDelivery">배송</a></li>
                        <li class="text-center text-neutral-400 font-bold text-xl py-2"><a href="#ViewReturn">환불</a></li>
                    </ul>
                </div>
                <hr>
                <div class="container mx-auto w-[250px] h-[150px]">
                    <span class="text-xl my-3 block">답변을 못찾으셨나요?</span>
                    <div class="bg-black text-[#D5A770] text-xl h-10 px-4 my-4 ml-[100px] rounded-xl flex items-center justify-center">
                        <a th:href="@{/question/create}">문의하기</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-full flex flex-col">
            <div class="h-[150px] mt-10 flex items-center">
                <span class="ml-80 font-bold text-5xl">FAQ</span>
            </div>
            <div class="mt-20 w-full flex flex-col">
                <div class="mx-20 mt-20">
                    <div id="ViewArtworkAndArtist" class="ml-24 flex items-center ">
                        <i class="fa-solid fa-palette fa-xl" style="color: #f561d5;"></i>
                        <span class="font-bold text-3xl ml-2"> 작품 및 작가</span>
                    </div>
                    <ul class="ml-32 my-4" th:each="question : ${questionList}" th:if="${question.questionType.name() == 'ARTIST'} or ${question.questionType.name() == 'ARTWORK'}">
                        <li class="text-[#D5A770] text-2xl" th:text="${question.subject}"></li>
                        <li th:each="answer : ${question.answerList}" th:text="${answer.content}"></li>
                    </ul>
                </div>
                <div class="mx-20 mt-20">
                    <div id="ViewPurchase" class="ml-24 flex items-center ">
                        <i class="fa-solid fa-credit-card fa-xl" style="color: #f561d5;"></i>
                        <span class="font-bold text-3xl ml-2"> 작품구매</span>
                    </div>
                    <ul class="ml-32 my-4" th:each="question : ${questionList}" th:if="${question.questionType.name() == 'PURCHASE'}">
                        <li class="text-[#D5A770] text-2xl" th:text="${question.subject}"></li>
                        <li th:each="answer : ${question.answerList}" th:text="${answer.content}"></li>
                    </ul>
                </div>
                <div class="mx-20 mt-20">
                    <div id="ViewService" class="ml-24 flex items-center ">
                        <i class="fa-brands fa-servicestack fa-xl" style="color: #f561d5;"></i>
                        <span class="font-bold text-3xl ml-2">SERVICE</span>
                    </div>
                    <ul class="ml-32 my-4" th:each="question : ${questionList}" th:if="${question.questionType.name() == 'SERVICE'}">
                        <li class="text-[#D5A770] text-2xl" th:text="${question.subject}"></li>
                        <li th:each="answer : ${question.answerList}" th:text="${answer.content}"></li>
                    </ul>
                </div>
                <div class="mx-20 mt-20">
                    <div id="ViewDelivery" class="ml-24 flex items-center ">
                        <i class="fa-solid fa-truck fa-xl" style="color: #f561d5;"></i>
                        <span class="font-bold text-3xl ml-2"> 배송</span>
                    </div>
                    <ul class="ml-32 my-4" th:each="question : ${questionList}" th:if="${question.questionType.name() == 'DELIVERY'}">
                        <li class="text-[#D5A770] text-2xl" th:text="${question.subject}"></li>
                        <li th:each="answer : ${question.answerList}" th:text="${answer.content}"></li>
                    </ul>
                </div>
                <div class="mx-20 mt-20">
                    <div id="ViewReturn" class="ml-24 flex items-center ">
                        <i class="fa-solid fa-rotate-left fa-xl" style="color: #f561d5;"></i>
                        <span class="font-bold text-3xl ml-2"> 환불</span>
                    </div>
                    <ul class="ml-32 my-4" th:each="question : ${questionList}" th:if="${question.questionType.name() == 'ARTIST'}">
                        <li class="text-[#D5A770] text-2xl" th:text="${question.subject}"></li>
                        <li th:each="answer : ${question.answerList}" th:text="${answer.content}"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</html>

<script>
       document.addEventListener('DOMContentLoaded', () => {

           document.querySelectorAll('a[href^="#"]').forEach(anchor => {
               anchor.addEventListener('click', function (e) {
                   e.preventDefault();

                   const targetId = this.getAttribute('href').substring(1);
                   const targetElement = document.getElementById(targetId);

                   if (targetElement) {
                       window.scrollTo({
                           top: targetElement.offsetTop - 400,
                           behavior: 'smooth'
                       });
                   }
               });
           });
       });
</script>

</script>
