<html layout:decorate="~{layout/layout}">
<div layout:fragment="content">
    <div class="artist_consentForm">
        <div class="backLink_section"><a href="/" class="backLink">← 뒤로가기</a></div>
        <form class="consentForm">
            <div class="consentText">
                <span>작가 등록 약관 동의</span>
            </div>
            <div class="consentCheckbox">
                <input type="checkbox" id="terms" name="terms" required>
                <label for="terms">작가 등록에 필요한 약관에 동의합니다. <a href="/terms">약관 보기</a></label>
            </div>
            <div>
                <button type="submit">등록하기</button>
            </div>
        </form>
    </div>
</div>
</html>