<html layout:decorate="~{layout/layout}">
<script th:src="@{/js/common/join.js}"></script>
<div layout:fragment="content">
    
    <div class="mb-3">
        <label for="userType" class="component-input">회원 유형</label>
        <select id="userType" name="userType" class="form-control" onchange="toggleCertificateDiv()">
            <option value="general">일반</option>
            <option value="artist">작가</option>
        </select>
    </div>
    
    <form th:action="@{/member/join}" th:object="${memberForm}" method="POST" enctype="multipart/form-data">
        <div class="mb-3">
            <label id="component-input-username" for="username" class="component-input">아이디</label>
            <input type="text" name="username" id="username" class="form-control">
            <button type="button" onclick="validateForm()">중복확인</button>
            <div id="joinError" th:text="${joinError}" class="error"></div>
            <span class="text-green-500">* 최소 4자리 ~ 최대 24자리로 작성해주세요.</span>
        </div>
        <div class="mb-3">
            <label id="component-input-pw" for="password" class="component-input">패스워드</label>
            <input type="password" name="password" id="password" class="form-control">
            <span class="text-green-500">* 각각 하나 이상의 소문자, 숫자, 특수문자(!,@,#)를 포함하여 최소 6자리 ~ 최대 24자리 까지 입력해주세요.</span>
        </div>
        <div class="mb-3">
            <label id="component-input-checkPw" for="password" class="component-input">패스워드 확인</label>
            <input type="password" name="password_confirm" id="password_confirm" maxlength="24" placeholder="비밀번호를 한번 더 입력하세요." oninput="checkPasswords()">
            <div id="passwordMatchError" class="error"></div>
        </div>
        <div class="mb-3">
            <label id="component-input-email" for="email" class="component-input">이메일</label>
            <input type="email" name="email" id="email" class="form-control">
            <span class="text-green-500">* 유효한 이메일 주소로 입력해주세요.</span>
        </div>
        <div class="mb-3">
            <label id="component-input-nickname" for="nickname" class="component-input">닉네임</label>
            <input type="text" name="nickname" id="nickname" class="form-control">
            <span class="text-green-500">* 관리자/어드민/admin 은 사용 불가합니다.</span>
        </div>
        <div class="mb-3">
            <label id="component-input-phoneNum" for="phoneNumber" class="component-input">전화번호</label>
            <input type="tel" name="phoneNumber" id="phoneNumber" class="form-control">
            <span class="text-green-500">* 000-0000-0000 형식에 맞게 작성해주세요.</span>
        </div>
        <div class="mb-3">
            <input type="text" id="address sample6_postcode" class="form-control" placeholder="우편번호">
            <input type="button" onclick="sample6_execDaumPostcode()" class="btn btn-primary" value="우편번호 찾기"><br>
            <input type="text" id="component-input-address address sample6_address" name="address" class="form-control" placeholder="주소"><br>
            <input type="text" id="sample6_detailAddress address" class="form-control" placeholder="상세주소">
            <input type="text" id="sample6_extraAddress" class="form-control" placeholder="참고항목">
        </div>
        <div class="mb-3">
            <label id="component-input-img" for="profileImage" class="component-input">프로필 이미지</label>
            <input type="file" name="profileImage" id="profileImage" class="form-control">
            <img id="profileImagePreview" src="#" alt="프로필 이미지 미리보기" style="display: none; max-width: 260px; max-height: 260px;">
        </div>
        <div class="mb-3" id="certificateDiv" style="display: none;">
            <label id="component-input-certificateFile" for="certificateFile" class="component-input">예술활동증명서를 첨부하여 주세요</label>
            <input type="file" name="certificateFile" id="certificateFile" class="form-control">
        </div>
        <button type="submit" class="join-submit btn btn-primary" disabled>회원가입</button>
        <div th:if="${joinError}" class="text-red-500" th:text="${joinError}"></div>
        <button type="button" onclick="if(confirm('회원 가입을 취소하시겠습니까?')) { window.location.href='/'; }"><i class="fa-solid fa-arrow-right-from-bracket"></i></button>
    </form>
</div>
</html>
