<html layout:decorate="~{layout/layout}">
<div layout:fragment="content">
    <form th:action="@{/member/login}" method="POST">
        <div class="section">
            <div class="container">
                <div class="row full-height justify-center">
                    <div class="col-12 text-center align-self-center py-5">
                        <div class="section pb-5 pt-5 pt-sm-2 text-center">
                            <h6 class="mb-0 pb-3">
                                <span>Log In </span>
                                <span>Join</span></h6>
                            <input class="checkbox" type="checkbox" id="reg-log" name="reg-log"/>
                            <label for="reg-log"><i class="uis uis-arrow-up-left"></i></label>
                            <div class="card-3d-wrap mx-auto">
                                <div class="card-3d-wrapper">
                                    <div class="card-front">
                                        <div class="center-wrap">
                                            <div class="section text-center">
                                                <h4 class="mb-14 pb-3 text-4xl">ㄹㅇㄴㄹㅇㄴㄹㅇㄴㄹㄴ로그인</h4>
                                                <div class="form-group mt-18">
                                                    <input type="text" name="username" class="form-style component-input" placeholder="아이디를 입력해주세요" id="component-input-id" autocomplete="off" value>
                                                    <i class="input-icon uil uil-user"></i>
                                                    <p id="username-error" class="error-message text-red-500">아이디가 존재하지 않습니다.</p>
                                                </div>
                                                <div class="form-group mt-14">
                                                    <input type="password" name="password" class="form-style component-input" placeholder="비밀번호를 입력해주세요" id="component-input-password" autocomplete="off" value>
                                                    <i class="input-icon uil uil-lock-alt"></i>
                                                    <p id="password-error" class="error-message text-red-500">비밀번호가 일치하지 않습니다.</p>
                                                </div>
                                                <button type="submit" class="login-submit btn mt-28" disabled><a href="/">로그인</a></button>
                                                <p class="mb-2 mt-14 text-center"><a href="/sendmail/password" class="link">비밀번호를 잊어버리셨나요?</a></p>
                                                <div class="social-login-wrap mt-20">
                                                    <a href="/oauth2/authorization/kakao"><img src="/image/kakao_logo.png" alt="카카오로그인" width="80px"></a>
                                                    <a href="/oauth2/authorization/naver"><img src="/image/naver_logo.png" alt="네이버로그인" width="80px"></a>
                                                    <a href="/oauth2/authorization/google"><img src="/image/google_logo.png" alt="구글로그인" width="80px"></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-back">
                                        <div class="center-wrap">
                                            <div class="section text-center">
                                                <h4 class="mb-8 pb-3 text-4xl">회원가입</h4>
                                                <div class="form-group mt-2 inputUsernameDiv">
                                                    <input type="text" name="username" class="form-style" placeholder="아이디를 입력해주세요" id="username" autocomplete="off">
                                                    <i class="input-icon uil uil-user"></i>
                                                    <button type="button" onclick="validateForm()" class="btn m-2">중복확인</button>
                                                    <div id="joinError" th:text="${joinError}" class="error"></div>
                                                </div>
                                                <div class="form-group mt-2">
                                                    <input type="password" name="password" class="form-style" maxlength="24" placeholder="비밀번호를 입력해주세요" id="password" autocomplete="off">
                                                    <i class="input-icon uil uil-lock-alt"></i>
                                                </div>
                                                <div class="form-group mt-2">
                                                    <input type="password" name="password_confirm" class="form-style" maxlength="24" placeholder="비밀번호를 재입력해주세요" id="passwordConfirm" autocomplete="off">
                                                    <i class="input-icon uil uil-lock-alt"></i>
                                                    <div id="passwordMatchError" class="error"></div>
                                                </div>
                                                <div class="form-group mt-2">
                                                    <input type="email" name="logemail" class="form-style" placeholder="이메일을 입력해주세요" id="logemail" autocomplete="off">
                                                    <i class="input-icon uil uil-at"></i>
                                                </div>
                                                <div class="form-group mt-2 inputNicknameDiv">
                                                    <input type="text" name="nickname" class="form-style" placeholder="닉네임을 입력해주세요" id="nickname" autocomplete="off">
                                                    <i class="input-icon uil uil-user"></i>
                                                    <button type="button" onclick="validateForm()" class="btn m-2">중복확인</button>
                                                    <div id="nicknameError" th:text="${nicknameError}" class="error"></div>
                                                </div>
                                                <div class="mb-3">
                                                    <label id="component-input-phoneNum" for="phoneNumber" class="component-input">전화번호</label>
                                                    <input type="tel" name="phoneNumber" id="phoneNumber" class="form-control">
                                                </div>
                                                <div class="mb-3">
                                                    <input type="text" id="address sample6_postcode" class="form-control" placeholder="우편번호">
                                                    <input type="button" onclick="sample6_execDaumPostcode()" class="btn btn-primary" value="우편번호 찾기"><br>
                                                    <input type="text" id="component-input-address address sample6_address" name="address" class="form-control" placeholder="주소"><br>
                                                    <input type="text" id="sample6_detailAddress address" class="form-control" placeholder="상세주소">
                                                    <input type="text" id="sample6_extraAddress" class="form-control" placeholder="참고항목">
                                                </div>
                                                <div class="mb-3">
                                                    <label id="component-input-img" for="profileImage" class="component-input">프로필 이미지</label>
                                                    <input type="file" name="profileImage" id="profileImage" class="form-control">
                                                    <img id="profileImagePreview" src="#" alt="프로필 이미지 미리보기" style="display: none; max-width: 260px; max-height: 260px;">
                                                </div>
                                                <button type="submit" class="join-submit btn mt-4" disabled><a href="/">회원가입</a></button>
                                                <div th:if="${joinError}" class="text-red-500" th:text="${joinError}"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
</html>

<!-- 주소 찾기(다음 카카오 API 사용) -->
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script th:src="@{/js/common/login.js}"></script>
<script th:src="@{/js/common/join.js}"></script>