<html layout:decorate="~{layout/layout}" xmlns:th="http://www.w3.org/1999/xhtml">
<div layout:fragment="content">
    <!--    프로필카드-->
    <div class="fixed container ml-[100px] w-[300px] h-[380px] mt-[200px] ">
        <div class="container h-[350px] border-2 border-black">
            <div class="py-2">
                <div class="flex items-center justify-center py-2">
                    <img th:if="${member.image != null}" th:src="@{|/file/${member.image}|}" alt="(프로필)"
                         class="myPageProfile-image"/>
                    <img th:if="${member.image == null}" th:src="@{/image/유저프로필.png}" alt="기본 프로필 사진"
                         class="myPageProfile-image"/>
                </div>

                <div class="flex-1 flex items-center justify-center py-2">
                    <h1 th:text="${member.nickname}" class=" text-left font-bold text-lg"></h1>
                </div>
                <hr>
                <div class="flex items-center justify-center py-4">
                    <ul>
                        <li>CASH : 0</li>
                    </ul>
                </div>
            </div>
        </div>
        <hr>
        <div class="container h-[200px]">

            <div class="py-4 flex items-center justify-center ">
                <div class="px-2">
                    <i class="fa-solid fa-arrow-down"></i>
                </div>
                <div class="px-2">
                    <h1 class="text-center font-bold text-2xl">MENU</h1>
                </div>
                <div class="px-2">
                    <i class="fa-solid fa-arrow-down"></i>
                </div>
            </div>


            <ul>
                <li id="info-update" class="text-center text-neutral-400 font-bold text-xl py-2"><a href="#">정보수정</a>
                </li>
                <li id="wish-list-toggle" class="text-center text-neutral-400 font-bold text-xl py-2"><a href="#">찜</a>
                </li>
                <li id="alarm-list-toggle" class="text-center text-neutral-400 font-bold text-xl py-2"><a
                        href="#">알림</a></li>
                <li id="question-list-toggle" class="text-center text-neutral-400 font-bold text-xl py-2"><a href="#">문의내역</a>
                </li>
                <li class="text-center text-neutral-400 font-bold text-xl py-2"><a href="#">입찰내역</a></li>
            </ul>
        </div>
    </div>
    <!--    메인컨테이너-->
    <div class="container mx-auto px-4 min-h-[1500px]">
        <div class="container py-4 ">
            <div class="container mx-auto h-[100px] py-2 px-[270px]">
                <h1 class="text-2xl font-bold text-center py-5">MyPage</h1>
            </div>

            <div>
                <div class="container mx-auto py-[50px] px-[200px]">
                    <div id="info-form" class="myPage-hidden p-4 mt-2">
                        <h1 class="text-3xl py-4">회원 정보수정</h1>
                        <div class="min-h-[500px] p-8 rounded-lg shadow-md">
                            <form id="updateForm" th:action="@{/member/update}" th:object="${memberModifyForm}"
                                  method="post" enctype="multipart/form-data" class="space-y-6">

                                <!-- 아이디 -->
                                <div class="flex items-center space-x-4">
                                    <label for="username" class="font-semibold text-gray-700 w-32">아이디:</label>
                                    <input type="text" id="username" th:field="*{username}" disabled
                                           class="block w-full p-2 border border-gray-300 rounded-md bg-gray-100 text-gray-600">
                                </div>

                                <!-- 닉네임 -->
                                <div class="flex items-center space-x-4">
                                    <label for="nickname" class="font-semibold text-gray-700 w-32">닉네임:</label>
                                    <input type="text" id="nickname" th:field="*{nickname}"
                                           class="block w-full p-2 border border-gray-300 rounded-md focus:ring focus:ring-amber-200 focus:border-amber-400">
                                </div>

                                <!-- 비밀번호 -->
                                <div class="flex items-center space-x-4">
                                    <label for="password" class="font-semibold text-gray-700 w-32">비밀번호:</label>
                                    <input type="password" id="password" th:field="*{password}" maxlength="24"
                                           placeholder="비밀번호를 입력해주세요" autocomplete="off"
                                           class="block w-full p-2 border border-gray-300 rounded-md focus:ring focus:ring-amber-200 focus:border-amber-400">
                                </div>

                                <!-- 비밀번호 확인 -->
                                <div class="flex items-center space-x-4">
                                    <label for="passwordConfirm"
                                           class="font-semibold text-gray-700 w-32">비밀번호확인:</label>
                                    <input type="password" id="passwordConfirm" th:field="*{passwordConfirm}"
                                           maxlength="24" placeholder="비밀번호를 재입력해주세요" autocomplete="off"
                                           class="block w-full p-2 border border-gray-300 rounded-md focus:ring focus:ring-amber-200 focus:border-amber-400">
                                </div>

                                <!-- 이메일 -->
                                <div class="flex items-center space-x-4">
                                    <label for="email" class="font-semibold text-gray-700 w-32">Email:</label>
                                    <input type="email" id="email" th:field="*{email}"
                                           class="block w-full p-2 border border-gray-300 rounded-md focus:ring focus:ring-amber-200 focus:border-amber-400">
                                </div>

                                <!-- 프로필 이미지 -->
                                <div class="myPage-grid-item flex items-center space-x-4">
                                    <label for="profileImage" class="font-semibold text-gray-700 w-32">프로필 이미지:</label>
                                    <input type="file" id="profileImage" th:field="*{multipartFile}"
                                           class="block w-full text-sm text-gray-500 file:mr-4 file:py-2 file:px-4 file:rounded-lg file:border-0 file:text-sm file:font-semibold file:bg-amber-50 file:text-amber-700 hover:file:bg-amber-100">
                                </div>


                                <!-- 업데이트 버튼 -->
                                <div class="flex items-center justify-end">
                                    <button id="updateButton"
                                            class="btn  text-xl h-10 px-4 w-[150px] rounded-xl hover:bg-gray-800 focus:outline-none focus:ring focus:ring-amber-200 focus:ring-offset-2"
                                            type="submit">업데이트
                                    </button>
                                </div>
                            </form>
                        </div>

                        <h1 class="text-3xl py-4">배송지 수정</h1>
                        <div class="min-h-[300px] p-8 rounded-lg shadow-md ">
                            <form th:action="@{/member/addressUpdate}" th:object="${memberAddressForm}" method="post"
                                  enctype="multipart/form-data" class="space-y-6">
                                <div class="space-y-4">
                                    <!-- 우편 번호 -->
                                    <div class="flex items-center space-x-4">
                                        <input type="text" id="sample6_postcode"
                                               class="block w-full p-2 border border-gray-300 rounded-md"
                                               placeholder="우편번호">
                                        <input type="button" onclick="sample6_execDaumPostcode()"
                                               class="btn text-sm h-10 px-4 rounded-lg hover:bg-gray-800 focus:outline-none focus:ring focus:ring-amber-200 focus:ring-offset-2"
                                               value="우편찾기">
                                    </div>

                                    <!-- 주소 -->
                                    <div class="flex items-center space-x-4">
                                        <input type="text" id="sample6_address" name="address1"
                                               class="block w-full p-2 border border-gray-300 rounded-md"
                                               placeholder="주소">
                                    </div>

                                    <!-- 상세주소 및 참고항목 -->
                                    <div class="flex items-center space-x-4">
                                        <input type="text" id="sample6_detailAddress" name="address2"
                                               class="block w-full p-2 border border-gray-300 rounded-md"
                                               placeholder="상세주소">
                                        <input type="text" id="sample6_extraAddress" name="address3"
                                               class="block w-full p-2 border border-gray-300 rounded-md ml-2"
                                               placeholder="참고항목">
                                    </div>
                                </div>

                                <!-- 업데이트 버튼 -->
                                <div class="flex items-center justify-end">
                                    <button class="btn text-xl h-10 px-4 w-[150px] rounded-xl hover:bg-gray-800 focus:outline-none focus:ring focus:ring-amber-200 focus:ring-offset-2"
                                            type="submit">업데이트
                                    </button>
                                </div>
                            </form>
                        </div>
                        <div class="flex items-center justify-center py-4">
                            <form id="deleteForm" th:action="@{/member/delete}" method="post" class="btn text-xl h-10 px-4 w-[150px] rounded-xl hover:bg-gray-800 focus:outline-none focus:ring focus:ring-amber-200 focus:ring-offset-2">
                                <button type="button" onclick="confirmDeletion()">회원 탈퇴</button>
                            </form>
                        </div>

                    </div>

                    <div id="wish-list" class="myPage-hidden bg-white  p-4 mt-2">
                        <h1 class="text-3xl py-4">관심 목록</h1>
                        <div>
                            <span>※ 찜한 작품이 경매가끝나게되면 자동으로 찜목록에서 삭제됩니다.</span>
                            <div class="border-t-2 border-slate-600">

                            </div>
                            <div class="p-4">
                                <ul class="flex flex-wrap  justify-start space-x-4 p-4 mb-4 border-y border-gray-300 rounded-lg"
                                    th:each="likeProduct : ${likeProductList}">
                                    <!-- 찜한 상품 목록을 반복 -->
                                    <li class="bg-gray-100  p-4 flex items-center space-x-4">
                                        <!-- 이미지 -->
                                        <img th:src="${likeProduct.product.thumbnailImg}" alt="Product Image"
                                             class="w-32 h-32 object-cover rounded-lg">
                                        <!-- 상품 정보 -->
                                    </li>
                                    <div class="flex flex-col place-items-start p-2">
                                        <span th:text="${likeProduct.id}"
                                              class="text-gray-700 font-medium font-bold"></span>
                                        <span th:text="${likeProduct.product.title}"
                                              class="text-gray-800 text-[#333333] mt-2 "></span>
                                    </div>
                                    <div>

                                    </div>
                                    <div class="flex flex-1 place-items-end p-4 justify-end">

                                        <ul>
                                            <div class="flex items-center justify-center mb-8">
                                                <form th:action="@{/product/like}" method="post">
                                                    <input type="hidden" name="productId" th:value="${likeProduct.product.id}" />
                                                    <input type="hidden" name="memberId" th:value="${member.id}" />
                                                    <button type="submit" style="background: none; border: none; cursor: pointer;">
                                                        <i class="fa-heart"
                                                           th:classappend="${likedProductIds.contains(likeProduct.product.id) ? 'fa-solid' : 'fa-regular'}"
                                                           style="color: ${likedProductIds.contains(likeProduct.product.id) ? '#ff0000' : 'transparent'};"></i>
                                                    </button>
                                                </form>
                                            </div>
                                            <li>최소 입찰가</li>
                                            <li class="text-red-500 text-sm">KRW 15,000</li>
                                        </ul>
                                    </div>

                                </ul>
                            </div>
                        </div>
                    </div>

                    <div id="question-list" class="myPage-hidden bg-white p-4 mt-2">
                        <h1 class="text-3xl py-4">문의내역</h1>
                        <div>
                            <span>※ 문의 내용 중 개인정보가 포함되었거나 중복된 문의인 경우 삭제될 수 있습니다.</span>
                            <div class="border-t-2 border-slate-600">
                                <ul class="flex items-center justify-center">
                                    <li class="myPage-list-item px-4 text-2xl flex-none w-[100px]">번호</li>
                                    <li class="myPage-list-item px-4 text-2xl basis-1/2">제목</li>
                                    <li class="myPage-list-item px-4 text-2xl basis-1/4">날짜</li>
                                    <li class="myPage-list-item px-4 text-2xl basis-1/4">상태</li>
                                </ul>
                            </div>
                            <div>
                                <div th:if="${#lists.isEmpty(questionList)}">
                                    <div class="flex items-center justify-center pt-4">
                                        <i class="fa-solid fa-circle-exclamation fa-2xl"></i>
                                    </div>
                                    <p class="text-center text-2xl mt-4 ">문의내역이 없습니다.</p>
                                </div>
                                <div th:if="${!#lists.isEmpty(questionList)}">
                                    <ul class="flex items-center justify-center py-2"
                                        th:each="question : ${questionList}">
                                        <li class="myPage-list-item px-4 text-xl flex-none w-[100px]"
                                            th:text="${question.id}"></li>
                                        <li class="myPage-list-item px-4 text-xl basis-1/2">
                                            <a class="text" th:href="@{|/question/detail/${question.id}|}"
                                               th:text="${question.subject}"></a>
                                        </li>
                                        <li class="myPage-list-item px-4 text-xl basis-1/4"
                                            th:text="${#temporals.format(question.createDate, 'yyyy-MM-dd')}"></li>
                                        <li class="myPage-list-item px-4 text-2xl basis-1/4" th:text="${question.answerList.size() > 0 ? '처리완료' : '처리중'}">


                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div id="alarm-list" class="myPage-hidden bg-white  p-4 mt-2">
                        <div>
                            <span>※ 경매상품에 알림받기를 누르면 경매시작 1시간전, 10분전, 5분전 알림을 받게됩니다. </span>
                            <div class="border-t-2 border-slate-600">
                                <ul class="flex items-center justify-center">
                                    <li class="myPage-list-item px-4 text-2xl flex-none w-[100px]">번호</li>
                                    <li class="myPage-list-item px-4 text-2xl basis-1/2 ">제목</li>
                                    <li class="myPage-list-item px-4 text-2xl basis-1/4 ">날짜</li>
                                    <li class="myPage-list-item px-4 text-2xl basis-1/4 ">처리상태</li>
                                </ul>
                            </div>
                            <div>
                                <ul class="flex items-center justify-center py-2" th:each="question : ${questionList}">
                                    <li class="myPage-list-item px-4 text-xl flex-none w-[100px] "
                                        th:text="${question.id}"></li>
                                    <li class="myPage-list-item px-4 text-xl basis-1/2 "
                                        th:text="${question.subject}"></li>
                                    <li class="myPage-list-item px-4 text-xl basis-1/4 "
                                        th:text="${#temporals.format(question.createDate, 'yyyy-MM-dd')}"></li>
                                    <li class="myPage-list-item px-4 text-2xl basis-1/4 ">
                                        <a class="text" th:href="@{|/question/detail/${question.id}|}">처리중</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
</html>

<script>
    // Define global JavaScript variables with Thymeleaf expressions
    var memberNickname = '[[${member.nickname}]]';
    var memberId = '[[${member.id}]]';
    var memberMobileNumber = /*[[${member.phoneNumber}]]*/ 'default_mobile_number';
    var memberLandlineNumber = 'default_landline_number'; // Update as needed

    // Function to initialize ChannelIO
    (function() {
        var w = window;
        if (w.ChannelIO) {
            return w.console.error("ChannelIO script included twice.");
        }
        var ch = function() {
            ch.c(arguments);
        };
        ch.q = [];
        ch.c = function(args) {
            ch.q.push(args);
        };
        w.ChannelIO = ch;
        function l() {
            if (w.ChannelIOInitialized) {
                return;
            }
            w.ChannelIOInitialized = true;
            var s = document.createElement("script");
            s.type = "text/javascript";
            s.async = true;
            s.src = "https://cdn.channel.io/plugin/ch-plugin-web.js";
            var x = document.getElementsByTagName("script")[0];
            if (x.parentNode) {
                x.parentNode.insertBefore(s, x);
            }
        }
        if (document.readyState === "complete") {
            l();
        } else {
            w.addEventListener("DOMContentLoaded", l);
            w.addEventListener("load", l);
        }
    })();

    // Initialize ChannelIO with dynamic data
    ChannelIO('boot', {
        "pluginKey": "72ea21d5-9db0-4a66-ac19-1aa0eb72e588",
        "memberId": memberId, // fill user's member id
        "profile": { // fill user's profile
            "name": memberNickname, // fill user's name
            "mobileNumber": memberMobileNumber, // fill user's mobile number
            "landlineNumber": memberLandlineNumber, // fill user's landline number
            "CUSTOM_VALUE_1": "VALUE_1", // custom property
            "CUSTOM_VALUE_2": "VALUE_2" // custom property
        }
    });
</script>

<script>
    document.getElementById('info-update').addEventListener('click', function() {
        toggleVisibility('info-form');
        setActiveState('info-update');
    });

    document.getElementById('question-list-toggle').addEventListener('click', function() {
        toggleVisibility('question-list');
        setActiveState('question-list-toggle');
    });

    document.getElementById('wish-list-toggle').addEventListener('click', function() {
        toggleVisibility('wish-list');
        setActiveState('wish-list-toggle');
    });

    document.getElementById('alarm-list-toggle').addEventListener('click', function() {
        toggleVisibility('alarm-list');
        setActiveState('alarm-list-toggle');
    });

    document.getElementById('updateButton').addEventListener('click', function(event) {
        var password = document.getElementById('password').value;
        var passwordConfirm = document.getElementById('passwordConfirm').value;

        if (password !== passwordConfirm) {
            alert('비밀번호와 비밀번호 확인이 일치하지 않습니다.');
            event.preventDefault();
        }
    });

    function toggleVisibility(...elements) {
        const allSections = ['info-form', 'question-list', 'wish-list', 'alarm-list'];
        allSections.forEach(section => {
            const element = document.getElementById(section);
            if (elements.includes(section)) {
                element.classList.remove('myPage-hidden');
            } else {
                element.classList.add('myPage-hidden');
            }
        });
    }

    function setActiveState(activeId) {
        const allTabs = ['info-update', 'question-list-toggle', 'wish-list-toggle', 'alarm-list-toggle'];
        allTabs.forEach(tab => {
            const element = document.getElementById(tab);
            if (tab === activeId) {
                element.classList.add('myPage-active');
            } else {
                element.classList.remove('myPage-active');
            }
        });
    }

    document.addEventListener('DOMContentLoaded', function() {
        // 마이페이지 들어오면 id info-update 인거 실행시킴 기본값인느낌
        toggleVisibility('info-form');
        setActiveState('info-update');
    });
</script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script th:src="@{/js/common/login.js}"></script>
<script th:src="@{/js/common/join.js}"></script>
<script>
    // 우편번호 찾기(join.js에 넣으면 작동안됨..) 다음 카카오 API 사용
    function sample6_execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function(data) {
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var addr = ''; // 주소 변수
                var extraAddr = ''; // 참고항목 변수

                // 사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                    addr = data.roadAddress;
                } else { // 사용자가 지번 주소를 선택했을 경우(J)
                    addr = data.jibunAddress;
                }

                // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                if(data.userSelectedType === 'R'){
                    // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                    // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                    if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                        extraAddr += data.bname;
                    }
                    // 건물명이 있고, 공동주택일 경우 추가한다.
                    if(data.buildingName !== '' && data.apartment === 'Y'){
                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }
                    // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                    if(extraAddr !== ''){
                        extraAddr = ' (' + extraAddr + ')';
                    }
                    // 조합된 참고항목을 해당 필드에 넣는다.
                    document.getElementById("sample6_extraAddress").value = extraAddr;

                } else {
                    document.getElementById("sample6_extraAddress").value = '';
                }

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                document.getElementById('sample6_postcode').value = data.zonecode;
                document.getElementById("sample6_address").value = addr;
                // 커서를 상세주소 필드로 이동한다.
                document.getElementById("sample6_detailAddress").focus();
            }
        }).open();
    }
</script>

<script>
    function confirmDeletion() {
    if (confirm('정말로 탈퇴하시겠습니까?')) {
        document.getElementById('deleteForm').submit(); // 사용자가 확인을 누르면 폼 제출
    }
}
</script>
