<html layout:decorate="~{layout/layout}" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyPage</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.0.0/dist/tailwind.min.css" rel="stylesheet">
    <style>
        /* 추가적인 스타일이 필요하다면 여기에 작성 */
    </style>
</head>
<body>
<div layout:fragment="content">
    <!-- 프로필카드 및 메인컨테이너 -->
    <div class="container mx-auto px-4 py-8">
        <div class="flex flex-col md:flex-row gap-8 mt-12">
            <!-- 프로필 카드 -->
            <div class="md:w-80 flex-shrink-0 mt-12 mobile-header ">
                <div class="border-2 border-gray-300 rounded-lg overflow-hidden ">
                    <div class="profile-section flex items-center justify-center py-4 bg-gradient-to-b from-slate-50">
                        <img th:if="${member.image != null}" th:src="@{|/${member.image}|}" alt="(프로필)"
                             class="profile-img w-32 h-32 object-cover rounded-full border-2 border-gray-300"/>
                        <img th:if="${member.image == null}" th:src="@{/images/유저프로필.png}" alt="기본 프로필 사진"
                             class="profile-img w-32 h-32 object-cover rounded-full border-2 border-gray-300"/>
                    </div>

                    <div class="text-center py-4  border-b border-gray-200">
                        <h1 th:text="${member.nickname}" class="nickname text-xl font-semibold text-gray-800"></h1>
                    </div>

                    <div class="text-center py-4  border-b border-gray-200">

                        <div class="flex justify-center">
                            <div class="text-lg font-medium text-gray-700">CASH :</div>
                            <div class="text-lg font-medium text-gray-700" th:text="${member.formattedbalance}"></div>

                        </div>
                    </div>

                    <div class="menu-section py-4">
                        <div class="flex items-center justify-center py-2">
                            <i class="fas fa-arrow-down text-gray-500"></i>
                            <h1 class="text-xl font-bold px-4 text-gray-800">MENU</h1>
                            <i class="fas fa-arrow-down text-gray-500"></i>
                        </div>
                        <ul class="">
                            <li id="info-update"
                                class="text-center text-gray-600 font-semibold text-lg py-2 hover:bg-gray-100 rounded">
                                <a href="#">정보수정</a>
                            </li>
                            <li id="wish-list-toggle"
                                class="text-center text-gray-600 font-semibold text-lg py-2 hover:bg-gray-100 rounded">
                                <a href="#">찜</a>
                            </li>


                            <li id="bid-list-toggle"
                                class="text-center text-gray-600 font-semibold text-lg py-2 hover:bg-gray-100 rounded">
                                <a href="#">입찰 내역</a>
                            </li>
                            <li id="order-list-toggle"
                                class="text-center text-gray-600 font-semibold text-lg py-2 hover:bg-gray-100 rounded">
                                <a href="#">낙찰 내역</a>
                            </li>
                            <li id="question-list-toggle"
                                class="text-center text-gray-600 font-semibold text-lg py-2 hover:bg-gray-100 rounded">
                                <a href="#">문의 내역</a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
            <!-- 메인 컨테이너 -->
            <div class="flex-1 min-h-screen">
                <div class="py-8">
                    <div class="text-center mb-8">
                        <h1 class="text-2xl font-bold">MyPage</h1>
                    </div>

                    <div>
                        <div class="container mx-auto py-8 px-4 sm:px-6 lg:px-8">
                            <div id="info-form" class="myPage-hidden py-4 mt-2 max-w-4xl mx-auto">
                                <h1 class="text-3xl py-4 font-semiBold text-gray-800">회원 정보수정</h1>
                                <div class="min-h-[500px] py-8 px-4 rounded-lg shadow-md">
                                    <form id="updateForm" th:action="@{/member/update}" th:object="${memberModifyForm}"
                                          method="post" enctype="multipart/form-data" class="space-y-6">
                                        <!-- 아이디 -->
                                        <div class="flex flex-col sm:flex-row items-center space-y-4 sm:space-y-0 sm:space-x-4">
                                            <label for="username" class="font-semibold text-gray-700 w-full sm:w-32">아이디:</label>
                                            <input type="text" id="username" th:field="*{username}" disabled
                                                   class="block w-full p-2 border border-gray-300 rounded-md bg-gray-100 text-gray-600">
                                        </div>

                                        <!-- 닉네임 -->
                                        <div class="flex flex-col sm:flex-row items-center space-y-4 sm:space-y-0 sm:space-x-4">
                                            <label for="nickname" class="font-semibold text-gray-700 w-full sm:w-32">닉네임:</label>
                                            <input type="text" id="nickname" th:field="*{nickname}"
                                                   th:placeholder="${member.nickname}"
                                                   class="block w-full p-2 border border-gray-300 rounded-md focus:ring focus:ring-amber-200 focus:border-amber-400">
                                        </div>

                                        <!-- 비밀번호 -->
                                        <div class="flex flex-col sm:flex-row items-center space-y-4 sm:space-y-0 sm:space-x-4">
                                            <label for="password" class="font-semibold text-gray-700 w-full sm:w-32">비밀번호:</label>
                                            <input type="password" id="password" th:field="*{password}" name="password"
                                                   maxlength="24"
                                                   placeholder="비밀번호를 입력해주세요" autocomplete="off"
                                                   class="block w-full p-2 border border-gray-300 rounded-md focus:ring focus:ring-amber-200 focus:border-amber-400">
                                        </div>

                                        <!-- 비밀번호 확인 -->
                                        <div class="flex flex-col sm:flex-row items-center space-y-4 sm:space-y-0 sm:space-x-4">
                                            <label for="passwordConfirm"
                                                   class="font-semibold text-gray-700 w-full sm:w-32">비밀번호확인:</label>
                                            <input type="password" id="passwordConfirm" th:field="*{passwordConfirm}"
                                                   name="password_confirm"
                                                   maxlength="24" placeholder="비밀번호를 재입력해주세요" autocomplete="off"
                                                   class="block w-full p-2 border border-gray-300 rounded-md focus:ring focus:ring-amber-200 focus:border-amber-400">
                                        </div>


                                        <!-- 이메일 -->
                                        <div class="flex flex-col sm:flex-row items-center space-y-4 sm:space-y-0 sm:space-x-4">
                                            <label for="email"
                                                   class="font-semibold text-gray-700 w-full sm:w-32">Email:</label>
                                            <input type="email" id="email" th:field="*{email}"
                                                   th:placeholder="${member.email}"
                                                   class="block w-full p-2 border border-gray-300 rounded-md focus:ring focus:ring-amber-200 focus:border-amber-400">
                                        </div>

                                        <!-- 프로필 이미지 -->
                                        <div class="flex flex-col sm:flex-row items-center space-y-4 sm:space-y-0 sm:space-x-4">
                                            <label for="profileImage"
                                                   class="font-semibold text-gray-700 w-full sm:w-32">프로필 이미지:</label>
                                            <input type="file" id="profileImage" th:field="*{multipartFile}"
                                                   accept="image/png, image/gif, image/jpeg"
                                                   class="block w-full text-sm text-gray-500  hover:bg-gray-100 border border-gray-300 rounded-lg font-semibold py-2 px-4">
                                        </div>

                                        <!-- 업데이트 버튼 -->
                                        <div class="flex justify-end">
                                            <button id="updateButton"
                                                    class="btn text-xl h-10 px-4 w-[150px] rounded-xl hover:bg-gray-800 focus:outline-none focus:ring focus:ring-amber-200 focus:ring-offset-2"
                                                    type="submit">업데이트
                                            </button>
                                        </div>
                                    </form>
                                </div>

                                <h1 class="text-3xl py-4 font-semiBold text-gray-800">배송지 수정</h1>
                                <div class="min-h-[300px] py-8 px-4 rounded-lg shadow-md">
                                    <form th:action="@{/member/addressUpdate}" th:object="${memberAddressForm}"
                                          method="post"
                                          enctype="multipart/form-data" class="space-y-6">
                                        <div class="space-y-4">
                                            <!-- 우편 번호 -->
                                            <div class="flex flex-col sm:flex-row items-center space-y-4 sm:space-y-0 sm:space-x-4">
                                                <input type="text" id="sample6_postcode"
                                                       class="block w-full p-2 border border-gray-300 rounded-md"
                                                       placeholder="우편번호">
                                                <input type="button" onclick="sample6_execDaumPostcode()"
                                                       class="btn text-sm h-10 px-4 rounded-lg hover:bg-gray-800 focus:outline-none focus:ring focus:ring-amber-200 focus:ring-offset-2"
                                                       value="우편찾기">
                                            </div>

                                            <!-- 주소 -->
                                            <div class="flex flex-col sm:flex-row items-center space-y-4 sm:space-y-0 sm:space-x-4">
                                                <input type="text" id="sample6_address" name="address1"
                                                       class="block w-full p-2 border border-gray-300 rounded-md"
                                                       placeholder="주소">
                                            </div>

                                            <!-- 상세주소 및 참고항목 -->
                                            <div class="flex flex-col sm:flex-row items-center space-y-4 sm:space-y-0 sm:space-x-4">
                                                <input type="text" id="sample6_detailAddress" name="address2"
                                                       class="block w-full p-2 border border-gray-300 rounded-md"
                                                       placeholder="상세주소">
                                                <input type="text" id="sample6_extraAddress" name="address3"
                                                       class="block w-full p-2 border border-gray-300 rounded-md sm:ml-2"
                                                       placeholder="참고항목">
                                            </div>
                                        </div>

                                        <!-- 업데이트 버튼 -->
                                        <div class="flex justify-end">
                                            <button class="btn text-xl h-10 px-4 w-[150px] rounded-xl hover:bg-gray-800 focus:outline-none focus:ring focus:ring-amber-200 focus:ring-offset-2"
                                                    type="submit">업데이트
                                            </button>
                                        </div>
                                    </form>
                                </div>

                                <div class="flex justify-center py-4">
                                    <!-- 탈퇴하기 버튼 추가 -->
                                    <form id="deleteForm" th:action="@{/member/delete}" method="post"
                                          class="btn text-xl h-10 px-4 w-[150px] rounded-xl hover:bg-gray-800 focus:outline-none focus:ring focus:ring-amber-200 focus:ring-offset-2">
                                        <button type="button" onclick="confirmDeletion()">회원 탈퇴</button>
                                    </form>
                                </div>
                            </div>

                            <!-- 관심 목록 -->
                            <div id="wish-list" class="myPage-hidden bg-white  mt-2">
                                <h1 class="text-3xl py-4 font-semiBold text-gray-800">관심 목록</h1>
                                <div>
                                    <span>※ 찜한 작품이 경매가 끝나게 되면 자동으로 찜 목록에서 삭제됩니다.</span>
                                    <div class="border-t-2 border-slate-600"></div>
                                    <div class="p-4">
                                        <!-- 찜한게 없는 경우 -->
                                        <div th:if="${#lists.isEmpty(likeProductList)}"
                                             class="flex flex-col items-center justify-center py-4">
                                            <i class="fas fa-circle-exclamation fa-2xl text-gray-500"></i>
                                            <p class="text-center text-2xl mt-4 text-gray-600">관심목록이 없습니다.</p>
                                        </div>
                                        <ul class="flex-wrap gap-4 mb-4 border-y border-gray-300 rounded-lg"
                                            th:each="likeProduct : ${likeProductList}">
                                            <!-- 찜한 상품 목록을 반복 -->
                                            <li class="p-4 flex rounded-lg">
                                                <div class="flex items-center justify-center p-2">
                                                    <form th:action="@{/product/like}" method="post">
                                                        <input type="hidden" name="productId"
                                                               th:value="${likeProduct.product.id}"/>
                                                        <input type="hidden" name="memberId" th:value="${member.id}"/>
                                                        <button type="submit"
                                                                style="background: none; border: none; cursor: pointer;">
                                                            <i class="fa-heart"
                                                               th:classappend="${likedProductIds.contains(likeProduct.product.id) ? 'fa-solid' : 'fa-regular'}"
                                                               style="color: red;"></i>
                                                        </button>
                                                    </form>
                                                </div>
                                                <div class="p-2 mb-auto mt-auto">NO.
                                                    <span th:text="${likeProduct.id}"
                                                          class="text-gray-700 font-bold"></span>
                                                </div>

                                                <a th:href="@{|/product/detail/${likeProduct.product.id}|}"
                                                   class="block h-full flex items-center justify-center">
                                                    <div class="flex bg-gray-100 w-40 h-40 items-center justify-center">
                                                        <!-- 이미지 -->
                                                        <img th:src="@{|/file/${likeProduct.product.thumbnailImg}|}"
                                                             alt="Product Image"
                                                             class="w-32 h-32 object-cover rounded-lg">
                                                    </div>
                                                </a>

                                                <!-- 상품 정보 -->
                                                <div class="flex flex-col items-start p-4">
                                                    <div>
                                                        <span th:text="${likeProduct.product.artist.korName}"
                                                              class="text-slate-300 text-sl font-bold mt-2"></span>
                                                    </div>
                                                    <div>
                                                        <a th:href="@{|/product/detail/${likeProduct.product.id}|}"
                                                           th:text="${likeProduct.product.title}"
                                                           class="text-gray-800 text-[#333333] text-xl mt-2"></a>
                                                    </div>
                                                </div>

                                                <!-- 입찰 정보 -->

                                                <div class="flex  flex-1 place-items-center p-4 justify-end relative  ">
                                                    <div class=" flex-col">
                                                        <div class="text-left mr-2 md:mr-4">최소 입찰가</div>
                                                        <div class="flex items-center">
                                                            <span class="mr-1 text-red-500 text-sm">KRW</span>
                                                            <span class="text-red-500 text-sm"
                                                                  th:text="${likeProduct.product.formattedCurrentBid}">

                                                            </span>
                                                        </div>
                                                    </div>

                                                </div>

                                                <div class="flex place-items-center p-4 justify-end relative">
                                                    <a th:href="@{|/product/detail/${likeProduct.product.id}|}"
                                                       class="inline-block px-4 py-2 text-gray-800 bg-gray-300 rounded hover:bg-gray-400 transition duration-300">작품상세</a>
                                                </div>

                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <!-- 문의 내역 -->
                            <div id="question-list" class="myPage-hidden bg-white  mt-2 rounded-lg shadow-md">
                                <h1 class="text-3xl py-4 font-semiBold text-gray-800">문의내역</h1>
                                <span class="block text-gray-500 text-sm mb-4">
        ※ 문의 내용 중 개인정보가 포함되었거나 중복된 문의인 경우 삭제될 수 있습니다.
    </span>
                                <div class="border-t-2 border-slate-600 mb-4">
                                    <ul class="flex flex-col text-gray-700 font-semibold mb-2">
                                        <!-- 모바일 전용 헤더 -->
                                        <div class="flex flex-col">
                                            <!-- 번호 항목 -->
                                            <li class="flex items-center px-4 py-3  font-semibold bg-gray-100 border-b border-gray-400">
                                                <span class="pr-2 text-gray-900 text-lg">번호:</span>
                                                <span class="flex-1 text-gray-700 text-sm">( 질문 고유번호 )</span>
                                            </li>
                                            <!-- 제목 항목 -->
                                            <li class="flex items-center px-4 py-3  font-semibold bg-gray-100 border-b border-gray-300">
                                                <span class="pr-2 text-gray-900 text-lg">제목:</span>
                                                <span class="flex-1 text-gray-700 text-sm">( 질문 제목 )</span>
                                            </li>
                                            <!-- 날짜 항목 -->
                                            <li class="flex items-center px-4 py-3  font-semibold bg-gray-100 border-b border-gray-400">
                                                <span class="pr-2 text-gray-900 text-lg">날짜:</span>
                                                <span class="flex-1 text-gray-700 text-sm">( 질문한 날짜 )</span>
                                            </li>
                                            <!-- 상태 항목 -->
                                            <li class="flex items-center px-4 py-3  font-semibold bg-gray-100">
                                                <span class="pr-2 text-gray-900 text-lg">상태:</span>
                                                <span class="flex-1 text-gray-700 text-sm">( 답변이 등록되면 처리완료 상태로 됩니다. )</span>
                                            </li>
                                        </div>
                                    </ul>
                                    <p class="text-center text-gray-600 mt-2 text-sm">※ 위의 예시는 문의 내역의 양식을 나타냅니다.</p>
                                </div>

                                <div>
                                    <!-- 문의 내역이 없는 경우 -->
                                    <div th:if="${#lists.isEmpty(questionList)}"
                                         class="flex flex-col items-center justify-center py-4">
                                        <i class="fas fa-circle-exclamation fa-2xl text-gray-500"></i>
                                        <p class="text-center text-2xl mt-4 text-gray-600">문의내역이 없습니다.</p>
                                    </div>

                                    <!-- 문의 내역이 있는 경우 -->
                                    <div th:if="${!#lists.isEmpty(questionList)}">
                                        <ul class="flex flex-col">
                                            <li th:each="question : ${questionList}"
                                                class="border-b border-gray-300 py-4 px-2">
                                                <!-- 모바일에서 세로로 나열 -->
                                                <div class="mb-2">
                                                    <span class="text-base font-semibold text-gray-800">번호:</span>
                                                    <span class="text-base text-gray-700"
                                                          th:text="${question.id}"></span>
                                                </div>
                                                <div class="mb-2">
                                                    <span class="text-base font-semibold text-gray-800">제목:</span>
                                                    <a class="text-blue-500 hover:underline"
                                                       th:href="@{|/question/detail/${question.id}|}"
                                                       th:text="${question.subject}"></a>
                                                </div>
                                                <div class="mb-2">
                                                    <span class="text-base font-semibold text-gray-800">날짜:</span>
                                                    <span class="text-base text-gray-700"
                                                          th:text="${#temporals.format(question.createDate, 'yyyy-MM-dd')}"></span>
                                                </div>
                                                <div>
                                                    <span class="text-base font-semibold text-gray-800">상태:</span>
                                                    <span class="text-base text-gray-700"
                                                          th:text="${question.answerList.size() > 0 ? '처리완료' : '처리중'}"></span>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- 입찰 내역 -->
                            <div id="bid-list" class="myPage-hidden bg-white mt-2 ">
                                <h1 class="text-3xl py-4 font-semiBold text-gray-800">입찰 내역</h1>
                                <div>
                                    <span>※ 경매가 끝나면 경매중에서 경매종료와 함께 낙찰여부를 확인할수있습니다. </span>
                                    <div class="border-t-2 border-slate-600"></div>
                                    <div class="p-4">
                                        <!-- 입찰한게 없는 경우 -->
                                        <div th:if="${#lists.isEmpty(bidListByMember)}"
                                             class="flex flex-col items-center justify-center py-4">
                                            <i class="fas fa-circle-exclamation fa-2xl text-gray-500"></i>
                                            <p class="text-center text-2xl mt-4 text-gray-600">입찰 내역이 없습니다.</p>
                                        </div>
                                        <ul class="flex-wrap gap-4 mb-4 border-y border-gray-300 rounded-lg"
                                            th:each="bidByMember : ${bidListByMember}">
                                            <!-- 입찰 상품 목록을 반복 -->

                                            <!--                                            경매중일때-->
                                            <li class=" "
                                                th:if="${bidByMember.product.getLatestAuctionProduct().auction.status.name() == 'ACTIVE'}">
                                                <!-- 경매중 바 -->
                                                <div class="div1 relative w-full bg-gray-500 text-white text-center my-2 py-2 rounded-t-lg flex items-center">
                                                    <div class="absolute left-1/2 transform -translate-x-1/2">
                                                        경매중
                                                    </div>
                                                    <div class="ml-auto p-2 text-sm">
                                                        <span>경매 종료일 :</span>
                                                        <span th:text="${#temporals.format(bidByMember.product.myPageGetAuctionEndDate(), 'yyyy-MM-dd hh:mm a')}"></span>
                                                    </div>
                                                </div>

                                                <div class="div2 flex rounded-b-lg">
                                                    <div class="p-2 mb-auto mt-auto">NO.
                                                        <span th:text="${bidByMember.id}"
                                                              class="text-gray-700 font-bold"></span>
                                                    </div>

                                                    <a th:href="@{|/product/detail/${bidByMember.product.id}|}"
                                                       class="block h-full flex items-center justify-center">
                                                        <div class="flex bg-gray-100 w-40 h-40 items-center justify-center">
                                                            <!-- 이미지 -->
                                                            <img th:src="@{|/file/${bidByMember.product.thumbnailImg}|}"
                                                                 alt="Product Image"
                                                                 class="w-32 h-32 object-cover rounded-lg">
                                                        </div>
                                                    </a>

                                                    <!-- 경매 정보 -->
                                                    <div class="flex flex-col items-start p-4">
                                                        <div>
                                                            <span th:text="${bidByMember.product.artist.korName}"
                                                                  class="text-slate-300 text-sl font-bold mt-2"></span>
                                                        </div>
                                                        <div>
                                                            <a th:href="@{|/product/detail/${bidByMember.product.id}|}"
                                                               th:text="${bidByMember.product.title}"
                                                               class="text-gray-800 text-[#333333] text-xl mt-2"></a>
                                                        </div>
                                                    </div>

                                                    <!-- 입찰 정보 -->
                                                    <div class="flex flex-1 place-items-center p-2 justify-end ">
                                                        <div>
                                                            <div class="flex flex-col p-2">
                                                                <span class="">현재 최고입찰가</span>
                                                                <span class="text-red-500 text-sm"
                                                                      th:text="${highestBidsByProduct[bidByMember.product].amount}"></span>
                                                            </div>
                                                            <div class="flex flex-col p-2">
                                                                <span class="">나의 입찰가</span>
                                                                <span class="text-red-500 text-sm"
                                                                      th:text="${bidByMember.amount}"></span>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="flex p-4 items-center">
                                                        <div>
                                                            <a th:href="@{|/product/detail/${bidByMember.product.id}|}"
                                                               class="inline-block px-4 py-2 text-gray-800 bg-gray-300 rounded hover:bg-gray-400 transition duration-300">입찰하기</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>

                                            <!--                                            경매가끝났을때-->
                                            <li class=""
                                                th:if="${bidByMember.product.getLatestAuctionProduct().auction.status.name() == 'CLOSED'}">
                                                <!-- 경매중 바 -->
                                                <div class="div1 relative w-full bg-gray-500 text-white text-center my-2 py-2 rounded-t-lg flex items-center">
                                                    <div class="absolute left-1/2 transform -translate-x-1/2">
                                                        경매종료
                                                    </div>
                                                    <div th:if="${bidByMember.product.getLatestAuctionProduct().auction.status.name() == 'ACTIVE'}">
                                                        aaa
                                                    </div>
                                                    <div class="ml-auto p-2 text-sm">
                                                        <span>경매 종료일 :</span>
                                                        <span th:text="${#temporals.format(bidByMember.product.myPageGetAuctionEndDate(), 'yyyy-MM-dd hh:mm a')}"></span>
                                                    </div>
                                                </div>

                                                <div class="div2 flex rounded-b-lg">
                                                    <div class="p-2 mb-auto mt-auto">NO.
                                                        <span th:text="${bidByMember.id}"
                                                              class="text-gray-700 font-bold"></span>
                                                    </div>

                                                    <a th:href="@{|/product/detail/${bidByMember.product.id}|}"
                                                       class="block h-full flex items-center justify-center">
                                                        <div class="flex bg-gray-100 w-40 h-40 items-center justify-center">
                                                            <!-- 이미지 -->
                                                            <img th:src="@{|/file/${bidByMember.product.thumbnailImg}|}"
                                                                 alt="Product Image"
                                                                 class="w-32 h-32 object-cover rounded-lg">
                                                        </div>
                                                    </a>

                                                    <!-- 경매 정보 -->
                                                    <div class="flex flex-col items-start p-4">
                                                        <div>
                                                            <span th:text="${bidByMember.product.artist.korName}"
                                                                  class="text-slate-300 text-sl font-bold mt-2"></span>
                                                        </div>
                                                        <div>
                                                            <a th:href="@{|/product/detail/${bidByMember.product.id}|}"
                                                               th:text="${bidByMember.product.title}"
                                                               class="text-gray-800 text-[#333333] text-xl mt-2"></a>
                                                        </div>
                                                    </div>

                                                    <!-- 입찰 정보 -->
                                                    <div class="flex flex-1 place-items-center p-2 justify-end ">
                                                        <div>
                                                            <div class="flex flex-col p-2">
                                                                <span class="">낙찰가</span>
                                                                <span class="text-red-500 text-sm"
                                                                      th:text="${highestBidsByProduct[bidByMember.product].amount}"></span>
                                                            </div>
                                                            <div class="flex flex-col p-2">
                                                                <span class="">나의 입찰가</span>
                                                                <span class="text-red-500 text-sm"
                                                                      th:text="${bidByMember.amount}"></span>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="flex p-4 items-center">
                                                        <div th:if="${bidByMember.amount == highestBidsByProduct[bidByMember.product].amount}">
                                                            <span class="inline-block px-4 py-2 text-green-500 bg-white">낙찰</span>
                                                        </div>
                                                        <div th:if="${bidByMember.amount != highestBidsByProduct[bidByMember.product].amount}">
                                                            <span class="inline-block px-4 py-2 text-red-500 bg-white">낙찰 실패</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- 낙찰 내역 -->
                            <div id="order-list" class="myPage-hidden bg-white  mt-2">
                                <h1 class="text-3xl py-4 font-semiBold text-gray-800">낙찰 내역</h1>
                                <div>
                                    <span>※ 경매가 끝난시점에 낙찰받지못하면 내역에나오지않습니다. </span>
                                    <div class="border-t-2 border-slate-600"></div>
                                    <div class="p-4">
                                        <!-- 낙찰한게 없는 경우 -->
                                        <div th:if="${#lists.isEmpty(orderList)}"
                                             class="flex flex-col items-center justify-center py-4">
                                            <i class="fas fa-circle-exclamation fa-2xl text-gray-500"></i>
                                            <p class="text-center text-2xl mt-4 text-gray-600">낙찰 내역이 없습니다.</p>
                                        </div>

                                        <ul class="flex-wrap gap-4 mb-4 border-y border-gray-300 rounded-lg"
                                            th:each="order : ${orderList}">
                                            <!-- 낙찰 상품 목록을 반복 -->
                                            <li class="">
                                                <div class="div1 relative w-full bg-gray-500 text-white text-center my-2 py-2 rounded-t-lg flex items-center">
                                                    <div class="absolute left-1/2 transform -translate-x-1/2">
                                                        낙찰 완료
                                                    </div>
                                                    <div class="ml-auto p-2 text-sm">
                                                        <span>낙찰 일 :</span>
                                                        <span th:text="${#temporals.format(order.createDate, 'yyyy-MM-dd hh:mm a')}"></span>
                                                    </div>
                                                </div>
                                                <div class="div2 flex rounded-b-lg">
                                                    <div class="p-2 mb-auto mt-auto">NO.
                                                        <span th:text="${order.id}"
                                                              class="text-gray-700 font-bold"></span>
                                                    </div>

                                                    <a th:href="@{|/product/detail/${order.product.id}|}"
                                                       class="block h-full flex items-center justify-center">
                                                        <div class="flex bg-gray-100 w-40 h-40 items-center justify-center">
                                                            <!-- 이미지 -->
                                                            <img th:src="@{|/file/${order.product.thumbnailImg}|}"
                                                                 alt="Product Image"
                                                                 class="w-32 h-32 object-cover rounded-lg">
                                                        </div>
                                                    </a>

                                                    <!-- 경매 정보 -->
                                                    <div class="flex flex-col items-start p-4">
                                                        <div>
                                                        <span th:text="${order.product.artist.korName}"
                                                              class="text-slate-300 text-sl font-bold mt-2"></span>
                                                        </div>
                                                        <div>
                                                            <a th:href="@{|/product/detail/${order.product.id}|}"
                                                               th:text="${order.product.title}"
                                                               class="text-gray-800 text-[#333333] text-xl mt-2"></a>
                                                        </div>
                                                    </div>

                                                    <!-- 입찰 정보 -->
                                                    <div class=" flex flex-1 place-items-center p-2 justify-end ">
                                                        <div>
                                                            <div class="flex flex-col p-2">
                                                                <span class="">낙찰가</span>
                                                                <span class="text-red-500 text-sm"
                                                                      th:text="${order.productPrice}"></span>
                                                            </div>
                                                        </div>


                                                    </div>

                                                    <div class="flex p-4 items-center">
                                                        <div>
                                                            <a th:href="@{|/member/orderDetail/${order.id}|}"
                                                               class="inline-block px-4 py-2 text-gray-800 bg-gray-300 rounded hover:bg-gray-400 transition duration-300">주문상세</a>
                                                        </div>
                                                    </div>
                                                </div>

                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>


<script>
    document.getElementById('info-update').addEventListener('click', function() {
    event.preventDefault(); // 기본 동작 방지
        toggleVisibility('info-form');
        setActiveState('info-update');
    });

    document.getElementById('question-list-toggle').addEventListener('click', function() {
    event.preventDefault(); // 기본 동작 방지
        toggleVisibility('question-list');
        setActiveState('question-list-toggle');
    });

    document.getElementById('wish-list-toggle').addEventListener('click', function() {
    event.preventDefault(); // 기본 동작 방지
        toggleVisibility('wish-list');
        setActiveState('wish-list-toggle');
    });

    document.getElementById('bid-list-toggle').addEventListener('click', function() {
    event.preventDefault(); // 기본 동작 방지
        toggleVisibility('bid-list');
        setActiveState('bid-list-toggle');
    });

    document.getElementById('order-list-toggle').addEventListener('click', function() { // 새로 추가된 부분
    event.preventDefault(); // 기본 동작 방지
        toggleVisibility('order-list');
        setActiveState('order-list-toggle');
    });

    document.getElementById('updateButton').addEventListener('click', function(event) {
    const passwordInput = document.getElementById('password');
    const passwordConfirmInput = document.getElementById('passwordConfirm');

    const password = passwordInput.value.trim();
    const passwordConfirm = passwordConfirmInput.value.trim();

    // 비밀번호가 입력된 경우에만 유효성 검사 수행
    if (password.length > 0 || passwordConfirm.length > 0) {
        // 비밀번호 유효성 검사
        const validPasswordRegex = /^(?=.*[a-zA-Z])(?=.*\d)(?=.*[!@#])[a-zA-Z\d!@#]{6,24}$/;

        if (password.length < 6 || password.length > 24 || !validPasswordRegex.test(password)) {
            alert('비밀번호는 6자에서 24자 사이여야 하며, 영문자, 숫자, 그리고 특수문자(!, @, #)를 포함해야 합니다.');
            event.preventDefault(); // 폼 제출을 막습니다.
            return;
        }

        if (password !== passwordConfirm) {
            alert('비밀번호와 비밀번호 확인이 일치하지 않습니다.');
            event.preventDefault(); // 폼 제출을 막습니다.
            return;
        }
    }
});

    function toggleVisibility(...elements) {
        const allSections = ['info-form', 'question-list', 'wish-list', 'bid-list', 'order-list']; // order-list 추가
        allSections.forEach(section => {
            const element = document.getElementById(section);
            if (elements.includes(section)) {
                element.classList.remove('myPage-hidden');
            } else {
                element.classList.add('myPage-hidden');
            }
        });
    }

    function setActiveState(activeId) {
        const allTabs = ['info-update', 'question-list-toggle', 'wish-list-toggle', 'bid-list-toggle', 'order-list-toggle']; // order-list-toggle 추가
        allTabs.forEach(tab => {
            const element = document.getElementById(tab);
            if (tab === activeId) {
                element.classList.add('myPage-active');
            } else {
                element.classList.remove('myPage-active');
            }
        });
    }

    document.addEventListener('DOMContentLoaded', function() {
        const urlParams = new URLSearchParams(window.location.search);
        const section = urlParams.get('section');

        if (section && document.getElementById(section)) {
            toggleVisibility(section);
            setActiveState(section + '-toggle');
        } else {
            // 기본적으로 정보수정 폼을 표시
            toggleVisibility('info-form');
            setActiveState('info-update');
        }
    });
</script>


<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
    // 우편번호 찾기(join.js에 넣으면 작동안됨..) 다음 카카오 API 사용
    function sample6_execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function(data) {
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var addr = ''; // 주소 변수
                var extraAddr = ''; // 참고항목 변수

                // 사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                    addr = data.roadAddress;
                } else { // 사용자가 지번 주소를 선택했을 경우(J)
                    addr = data.jibunAddress;
                }

                // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                if(data.userSelectedType === 'R'){
                    // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                    // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                    if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                        extraAddr += data.bname;
                    }
                    // 건물명이 있고, 공동주택일 경우 추가한다.
                    if(data.buildingName !== '' && data.apartment === 'Y'){
                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }
                    // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                    if(extraAddr !== ''){
                        extraAddr = ' (' + extraAddr + ')';
                    }
                    // 조합된 참고항목을 해당 필드에 넣는다.
                    document.getElementById("sample6_extraAddress").value = extraAddr;

                } else {
                    document.getElementById("sample6_extraAddress").value = '';
                }

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                document.getElementById('sample6_postcode').value = data.zonecode;
                document.getElementById("sample6_address").value = addr;
                // 커서를 상세주소 필드로 이동한다.
                document.getElementById("sample6_detailAddress").focus();
            }
        }).open();
    }
</script>

<script>
    function confirmDeletion() {
    if (confirm('정말로 탈퇴하시겠습니까?')) {
        document.getElementById('deleteForm').submit(); // 사용자가 확인을 누르면 폼 제출
    }
}
</script>
