<html layout:decorate="~{layout/layout}">
<div layout:fragment="content">
    <!-- 컨텐츠 영역 -->
    <div class="auctionList-container mx-auto px-6 lg:px-[300px] min-h-[600px]">
        <div class="bg-white" style="background-image: url('/images/경매페이지배너.png');">
            <h1 class="text-2xl font-black text-center py-5 text-black">진행중인 경매</h1>
        </div>
        <!-- Flexbox 컨테이너 추가 -->
        <div id="AuctionList_container" class="flex flex-col lg:flex-row">
            <!-- 왼쪽에 고정된 네비게이션 스타일의 검색 및 정렬 박스 -->
            <div id="AuctionSearch_nav" class="lg:fixed top-24 lg:left-10 w-full lg:w-64 pt-4 pb-4 pl-0 lg:pr-4 z-10 bg-white h-auto lg:h-80 flex flex-col lg:flex-col">

                <!-- 드롭다운 부분 -->
                <div class="relative flex-shrink-0 lg:order-2 order-1">
                    <button id="auction-sortButton" class="border border-black text-gray-700 px-4 mt-14 py-2 flex items-center w-full justify-center">
                        <span id="auction-sortText">정렬하기</span> <i class="fa-solid fa-caret-down ml-2"></i>
                    </button>
                    <div id="auction-sortDropdown" class="absolute left-0 w-full bg-white border border-gray-300 shadow-lg hidden">
                        <a href="#" class="block px-4 py-2 text-gray-800 hover:bg-gray-100" data-sort="price-asc">가격 낮은 순</a>
                        <a href="#" class="block px-4 py-2 text-gray-800 hover:bg-gray-100" data-sort="price-desc">가격 높은 순</a>
                        <a href="#" class="block px-4 py-2 text-gray-800 hover:bg-gray-100" data-sort="latest">최신 순</a>
                    </div>
                </div>

                <!-- 검색 폼 -->
                <form id="auction-searchForm" class="flex overflow-hidden mt-4 w-full border-b lg:order-1 order-2">
                    <input type="text" name="kw" placeholder="작품명을 입력해주세요"
                           class="py-2 w-full focus:outline-none" th:value="${kw}"/>
                    <button type="submit" id="search_button" class="bg-white text-gray-600 pr-3 flex items-center justify-center">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                    <input type="hidden" name="sort" id="auction-sortInput" th:value="${sort}"/>
                    <input type="hidden" name="viewAll" id="viewAllInput" value="false"/>
                    <input type="hidden" name="auctionName" id="auctionNameInput"/> <!-- 수정된 부분 -->
                </form>

                <!-- 카테고리 부분 -->
                <div class="mt-2 pt-2 lg:order-3 order-3">
                    <h2 class="text-lg font-semibold mb-3">카테고리</h2>
                    <a th:href="@{/auction/list}" class="text-black">전체</a>
                    <ul id="AuctionCategory-list" class="list-disc text-gray-500">
                        <!-- 최대 6개의 카테고리만 표시 -->
                        <li th:each="category, iterStat : ${categories}" th:if="${iterStat.index < 6}">
                            <a href="#" th:text="${category}" th:attr="data-category=${category}" class="AuctionListCategory-link"></a>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- 경매 작품 목록 -->
            <ul class="flex-1 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-5 mb-10 py-2">
                <li th:each="product, loop : ${paging}" class="flex flex-col group bg-white border border-gray-300 overflow-hidden product-item">
                    <a th:href="@{|/product/detail/${product.id}|}"
                       class="block w-full h-64 bg-gray-100 overflow-hidden transition-transform duration-500 hover:translate-y-[-6px] hover:shadow-md">
                        <img class="object-contain object-center w-full h-full transition-transform duration-500"
                             th:src="@{|/${product.thumbnailImg}|}"
                             alt="이미지가 존재하지 않습니다.">
                    </a>
                    <div class="p-3 flex flex-col flex-grow">
                        <span th:text="${product.artist.korName}" class="text-left font-bold text-lg"></span>
                        <span th:text="${product.title}" class="text-left text-md mt-1"></span>
                        <span class="flex text-xs mt-3 text-gray-500">
                            <span th:text="${product.width}"></span>
                            <span>x</span>
                            <span th:text="${product.height}"></span>
                            <span>cm</span>
                            <span class="mx-1">|</span>
                            <span th:text="${product.medium}"></span>
                        </span>
                        <hr class="my-2">
                        <span class="flex flex-col items-start text-left text-xs">
                            <span class="text-gray-500">현재가</span>
                            <span th:text="|KRW ${product.formattedCurrentBid}|" class="text-black"></span>
                        </span>
                        <a th:href="@{|/product/detail/${product.id}|}"
                           class="bg-white text-black border border-black text-lg mt-3 px-4 py-2 transition-colors duration-150 ease-in-out flex items-center justify-center hover:text-red-500"
                        >상세 보기</a>
                    </div>
                </li>
            </ul>
        </div>


        <div th:if="${paging.empty}" class="flex justify-center items-center h-80">
            <p class="text-center text-gray-500 text-lg">경매 진행중인 작품이 없습니다.</p>
        </div>

        <!-- 페이징 처리 시작 -->
        <ul th:if="${!paging.isEmpty()}" class="flex justify-center items-center mt-10 mb-2 space-x-2">
            <!-- 이전 페이지 버튼 -->
            <li th:classappend="${!paging.hasPrevious} ? 'opacity-50 cursor-not-allowed' : ''">
                <a class="flex items-center justify-center px-4 py-2 border border-gray-300 text-gray-600 bg-white hover:bg-gray-200 hover:text-gray-800 transition-colors duration-200 ease-in-out auctionList-page-link"
                   href="javascript:void(0)"
                   th:href="${paging.hasPrevious} ? 'javascript:void(0)' : null"
                   th:data-page="${paging.hasPrevious} ? ${paging.number-1} : null">
                    <span class="font-semibold text-lg">&lt;</span>
                </a>
            </li>

            <!-- 페이지 번호 -->
            <li th:each="page : ${#numbers.sequence(0, paging.totalPages-1)}"
                th:if="${page >= paging.number-4 and page <= paging.number+4}"
                th:classappend="${page == paging.number} ? 'auctionList-active bg-black text-white border-black' : ''">
                <a th:text="${page+1}"
                   class="flex items-center justify-center px-4 py-2 auctionList-page-link"
                   href="javascript:void(0)" th:data-page="${page}"></a>
            </li>

            <!-- 다음 페이지 버튼 -->
            <li th:classappend="${!paging.hasNext} ? 'opacity-50 cursor-not-allowed' : ''">
                <a class="flex items-center justify-center px-4 py-2 border border-gray-300 text-gray-600 bg-white hover:bg-gray-200 hover:text-gray-800 transition-colors duration-200 ease-in-out auctionList-page-link"
                   href="javascript:void(0)"
                   th:href="${paging.hasNext} ? 'javascript:void(0)' : null"
                   th:data-page="${paging.hasNext} ? ${paging.number+1} : null">
                    <span class="font-semibold text-lg">&gt;</span>
                </a>
            </li>
        </ul>
    </div>
</div>
</html>
