<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>경매 등록</title>
</head>
<body>
<div layout:fragment="content">
    <div class="auctionRegister-container mx-auto px-6 lg:px-[300px]">
        <h1 class="text-2xl font-bold text-center py-5">경매 등록</h1>
        <form th:action="@{|/auction/productCreate/${product.id}|}" th:object="${auctionForm}" method="post" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
            <div class="mb-4">
                <label for="name" class="block text-gray-700 text-sm font-bold mb-2">경매 이름</label>
                <input type="text" id="name" th:field="*{name}" placeholder="경매 이름을 입력하세요" class="appearance-none border rounded w-full p-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"/>
                <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-red-500 text-xs italic"></p>
            </div>

            <div class="mb-4">
                <label for="startingPrice" class="block text-gray-700 text-sm font-bold mb-2">시작가</label>
                <input type="number" id="startingPrice" th:field="*{startingPrice}" placeholder="시작가를 입력하세요" class="appearance-none border rounded w-full p-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"/>
                <p th:if="${#fields.hasErrors('startingPrice')}" th:errors="*{startingPrice}" class="text-red-500 text-xs italic"></p>
            </div>

            <div class="mb-4">
                <label for="startDate" class="block text-gray-700 text-sm font-bold mb-2">경매 시작일</label>
                <input type="datetime-local" id="startDate" th:field="*{startDate}" class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"/>
                <p th:if="${#fields.hasErrors('startDate')}" th:errors="*{startDate}" class="text-red-500 text-xs italic"></p>
            </div>

            <div class="mb-4">
                <label for="endDate" class="block text-gray-700 text-sm font-bold mb-2">경매 마감일</label>
                <input type="datetime-local" id="endDate" th:field="*{endDate}" class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"/>
                <p th:if="${#fields.hasErrors('endDate')}" th:errors="*{endDate}" class="text-red-500 text-xs italic"></p>
            </div>

            <div class="flex items-center justify-between mt-4">
                <button type="submit" class="w-full sm:w-auto btn font-bold py-2 px-4 focus:outline-none focus:shadow-outline">
                    경매 등록
                </button>
            </div>
        </form>
    </div>
</div>
</body>
</html>
