<html layout:decorate="~{layout/layout}">
<div layout:fragment="content">
    <div class="scheduledAuction-container mx-auto px-6 lg:px-[300px] min-h-[600px]">
        <div class="bg-white" style="background-image: url('/images/예정경매페이지배너.png');">
            <h1 class="text-2xl font-black text-center py-5 text-black">예정된 경매</h1>
        </div>


        <div th:each="auction : ${scheduledAuctions}">
            <a th:href="@{|/auction/scheduledDetail/${auction.id}|}">
            <div class="flex items-center justify-between pt-4 pb-2 text-black">

                <div>
                    <h2 class="text-xl font-bold" th:text="${auction.name}"></h2>
                    <div class="mt-4">
                    <div>시작일</div><div class="text-base" th:text="${#temporals.format(auction.startDate, 'yyyy-MM-dd HH:mm')}"></div>
                    </div>
                    <div class="mt-2">마감일</div><div class="text-base" th:text="${#temporals.format(auction.endDate, 'yyyy-MM-dd HH:mm')}"></div>
                </div>
                <div>

                    <img class="w-40 h-40 object-cover rounded-lg" src="/images/comming soon.png" alt="작품 이미지">

                </div>

             </div>
            </a>
            <hr>
        </div>



        <div th:if="${scheduledAuctions.empty}" class="flex justify-center items-center h-80">
            <p class="text-center text-gray-500 text-lg">예정된 경매가 없습니다.</p>
        </div>
    </div>
</div>
</html>
