<html layout:decorate="~{layout/layout}">
<div layout:fragment="content">
    <div class=" mx-auto px-6 lg:px-[300px] min-h-[600px]" th:each="auction : ${auction}">
        <div class="bg-black">
            <h1 class="text-2xl text-center py-20 text-white">PREVIEW</h1>
        </div>

        <a th:href="@{/auction/scheduled}" class="absolute top-20 left-4 text-xl mt-56 md:mt-0">
            <i class="fa-solid fa-arrow-left"></i>돌아가기
        </a>

        <section>
            <div class="scheduledDetail-container flex items-center justify-between pt-4 pb-2">
                <div class="scheduled-background-img">
                    <div class="scheduled-box mt-40 md:mt-0">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <div class="scheduled-content">
                            <h2 class="mt-4 font-bold" style="font-size: 25px;" th:text="${auction.name}"> </h2>
                            <div class="mt-2">시작일</div><div class=" text-lg" th:text="${#temporals.format(auction.startDate, 'yyyy-MM-dd HH:mm')}"></div>
                            <div class="mt-2">마감일</div><div class=" text-lg" th:text="${#temporals.format(auction.endDate, 'yyyy-MM-dd HH:mm')}"></div>
                        </div>

                    </div>
                </div>
            </div>
        </section>

    </div>

</div>
</html>