<html layout:decorate="~{layout/layout}">

<div layout:fragment="content">
    <div class="admContainer">
        <div class="mg_container mt-3 mb-3">
            <div class="mg_menu_container flex">
                <nav class="mg_menu flex mr-3">
                    <ul>
                        <li class="flex flex-col">
                            <span class="w-30 text-xl mb-2  text-center">작품 관리</span>
                            <a th:href="@{/admin/product/list}" class="mg_menu_btn text-base text-right text-gray-400 font-light ">작품
                                목록</a>
                        </li>
                        <li class="flex flex-col">
                            <span class="w-30 text-xl mt-3 mb-2  text-center">경매 관리</span>
                            <a th:href="@{/admin/auction/list}" class="mg_menu_btn text-base text-right text-gray-400 font-light">경매
                                목록</a>
                            <a th:href="@{/auction/create}" class="mg_menu_btn text-base text-right text-gray-400 font-light">새 경매
                                추가</a>
                        </li>
                        <li class="flex flex-col">
                            <span class="w-30 text-xl mt-3 mb-2  text-center">회원 관리</span>
                            <a th:href="@{/admin/member/list}" class="mg_menu_btn text-base text-right text-gray-400 font-light">회원
                                권한 설정</a>
                            <a th:href="@{/admin/question/list}" class="mg_menu_btn text-base text-right text-gray-400 font-light">문의
                                관리</a>
                        </li>
                    </ul>
                </nav>
            
            </div>
        </div>
    </div>
</div>


</html>
