@media (max-width: 768px) {
 .admContainer{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
 }

/* 주요 항목 */
.mg_menu_btn {
    margin: 4px 12px;
    height: 2rem;
}

.mg_menu_btn:hover {
    color: black;
}

