.header_nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 0px 300px;
    z-index: 1000;
    transition: background-color 0.1s ease;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.06);
}

.nav__logo {
    font-size: 25px;
    color: black;
    text-align: center;
}

.nav__main {
    display: flex;
    padding-left: 0;
}

.nav__main li {
    font-weight: bold;
    display: inline-block;
    margin: 7px;
    padding: 5px 40px;
    text-align: center;
}

.nav__main > ul > li > a {
    text-decoration: none;
    color: inherit; /* Keep the color consistent */
}

.nav__main > ul > li > a > span {
    position: relative;
}

.nav__main > ul > li > a > span::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background-color: black;
    transition: width .3s;
}

.nav__main > ul > li:hover > a > span::after {
    width: 100%;
}

.nav__bar {
    display: none;
    position: absolute;
    right: 32px;
    font-size: 25px;
}

@media screen and (max-width: 1100px) {
    .header_nav {
        flex-direction: column;
    }

    .nav__main,
    .nav__login {
        display: none;
        flex-direction: column;
    }

    .nav__bar {
        display: block;
    }

    .nav__main.active,
    .nav__login.active {
        display: flex;
    }
}
