.pendingApprovals-content {
    margin-left: 300px;
    margin-right: 300px;
}
.PA-btn {
    display: flex;
    flex-direction: row;
}
.btn-approve {
    display: flex;
    width: 40px;
}
.btn-reject {
    display: flex;
    width: 40px;
}
.pa-title {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}