<html layout:decorate="~{layout/layout}">
<div layout:fragment="content">
    <div class="admContainer">
        <!-- 회원 관리 페이지 제목 -->
        <span class="text-xl">작품 관리 페이지</span>
        
        <div class="mg_container">
            <div class="mg_menu_container">
                <div class="mg_menu">
                    <ul class="flex">
                        <li><span class="pr_cd">생성 날짜</span></li>
                        <li><span class="pr_md">수정 날짜</span></li>
                        <li><span class="pr_pi">작품 이미지</span></li>
                        <li><span class="pr_pn">작품명</span></li>
                        <li><span class="pr_at">작가명</span></li>
                        <li><span class="pr_as">경매 여부</span></li>
                        <li><span class="pr_ss">판매 여부</span></li>
                    </ul>
                </div>
                <div class="mb_list">
                    <ul>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</html>
