<html layout:decorate="~{layout/layout}">
<head>
    <script>
        // AJAX로 버튼 클릭 시 리로드 없이 상태 변경을 처리하는 스크립트
        document.addEventListener('DOMContentLoaded', function() {
            document.querySelectorAll('.favoriteForm').forEach(form => {
                form.addEventListener('submit', function(event) {
                    event.preventDefault();
                    const formData = new FormData(form);
                    fetch(form.action, {
                        method: form.method,
                        body: formData,
                    }).then(response => response.text())
                      .then(result => {
                          const button = form.querySelector('button');
                          if (result === 'Added') {
                              button.classList.add('btn-favorite-active');
                              button.classList.remove('btn-favorite');
                          } else if (result === 'Removed') {
                              button.classList.remove('btn-favorite-active');
                              button.classList.add('btn-favorite');
                          }
                      }).catch(error => console.error('Error:', error));
                });
            });
        });
    </script>
</head>
<body>
<div layout:fragment="content">
    <div class="artistList-Container mx-auto px-6 lg:px-[300px] min-h-[600px]">
        <div class="bg-white" style="background-image: url('/images/작가목록페이지배너.png');">
            <h1 class="text-2xl font-black text-center py-5 text-black">작가 목록</h1>
        </div>


        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-5 my-4" >
            <div class="border border-black" th:each="artist : ${artists}">
                <form th:action="@{/artist/favorite/{id}(id=${artist.id})}" method="post" class="favoriteForm">
                    <button class="artistList-bnt" type="submit"
                            th:class="${#lists.contains(member.favoriteArtists, artist)} ? 'btn-favorite-active' : 'btn-favorite'">
                        <i class="fa-solid fa-star"></i>
                    </button>
                </form>
                <a class="artistList-A" th:href="@{/artist/profile/{id}(id=${artist.id})}">
                    <div class="artistListImg">
                        <img th:src="@{|/file/${artist.thumbnailImg}|}" class="artist-list-img" alt="Thumbnail">
                    </div>
                    <div class="korName-artistList border-t border-black">
                        <span th:text="${artist.korName}"></span> 작가
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
</body>
</html>

