<html layout:decorate="~{/layout/layout}">
<head>
    <script>
    </script>
</head>
<body>
<div layout:fragment="content">
    <div class="artistImg">
        <img th:src="@{/{filename}(filename=${artist.thumbnailImg})}" class="artist-img" alt="Thumbnail">
    </div>
    <div class="engName">
        <span th:text="${artist.engName}"></span>
    </div>
    <div class="korName">
        <span th:text="${artist.korName}"></span>작가
    </div>
    <div class="information">
        <div class="name-group">
            <span th:text="${artist.korName}"></span>
            <span th:text="${artist.engName}"></span>
        </div>
        <span th:text="${artist.birthDate}"></span>
        <span th:text="${artist.artistAdds}"></span>
        Tel.<span th:text="${artist.tel}"></span>
        <div class="mail-group">
            E-mail.<span th:text="${artist.mail}"></span>
            <span>@</span>
            <span th:text="${artist.mailType}"></span>
        </div>
    </div>
</div>
</body>
</html>