<!DOCTYPE html>
<html layout:decorate="~{layout/layout}">

<head>
    <title>약관 동의</title>
    <script>
        function toggleAllCheckboxes(source) {
            checkboxes = document.querySelectorAll('.agree-section input[type="checkbox"]');
            for (var i = 0; i < checkboxes.length; i++) {
                checkboxes[i].checked = source.checked;
            }
        }
    </script>
</head>

<body>
<div layout:fragment="content">
    <div class="termsContainer_1">
        <div class="termsContainer_2">
            <form th:action="@{/artist/terms}" method="post" enctype="multipart/form-data">
                <div class="terms-content">
                    <h1>약관 동의</h1>
<!--                    <hr>-->
                    <div class="agree-section" id="agree_all_section">
                        <input type="checkbox" id="agree_all" name="agree_all" onclick="toggleAllCheckboxes(this)">
                        <label for="agree_all">전체동의</label>
                    </div>
                    <div class="termsText_1">
                        <span class="termsText_2">전체 동의는 필수 및 선택정보에 동의도 포함되어 있으며, 개별적으로 동의를 선택하실 수 있습니다. 선택 항목에 대한 동의를 거부하시는 경우에도 서비스는 이용이 가능합니다.</span>
                    </div>
                    <hr class="termsLine">
                    <div class="agree-section-container">
                        <div class="agree-section">
                            <input type="checkbox" id="agree_personal_info" name="agree_personal_info" required>
                            <label for="agree_personal_info">[필수] 개인정보 수집이용 동의</label>
                            <a class="target" href="/pdf/ArtAuction이용약관.pdf" target="_blank">></a>
                        </div>

                        <div class="agree-section">
                            <input type="checkbox" id="agree_service" name="agree_service" required>
                            <label for="agree_service">[필수] 서비스 이용약관 동의</label>
                            <a class="target" href="/pdf/ArtAuction이용약관.pdf" target="_blank">></a>
                        </div>
                        <div class="agree-section">
                            <input type="checkbox" id="agree_age" name="agree_age" required>
                            <label for="agree_age">[필수] 만 14세 이상입니다.</label>
                            <a class="target" href="/pdf/ArtAuction이용약관.pdf" target="_blank">></a>
                        </div>
                        <div class="agree-section">
                            <input type="checkbox" id="agree_location" name="agree_location">
                            <label for="agree_location">[선택] 마케팅 정보 수신동의</label>
                            <a class="target" href="/pdf/ArtAuction이용약관.pdf" target="_blank">></a>
                        </div>
                    </div>
                </div>

                <div class="terms-form-group">
                    <button type="submit" class="btn btn-primary">동의하고 계속 진행</button>
                </div>

                <div th:if="${errorMessage}" class="error-message">
                    <p th:text="${errorMessage}"></p>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>