/*common start*/

.main-container{
    padding: 0px 300px;
    width: 100%;
    margin-top: 40px;
}

.aucTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    margin-top: 80px;
}

/*common end*/


/*swiper start*/
.mySwiper{
      width: 100%;
      height: 600px;
}

.swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
}

.banner-img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
}
/*swiper end*/


/*ongoing-auction start*/

.ongoingAuc{
      width: 100%;
      height: 450px;
      padding-bottom: 50px;
      border-top: 1px solid black;
}

.viewAll {
    font-size: 14px;
    cursor: pointer;
    color: black;
    transition: color 0.3s;
}

.viewAll:hover {
    color: blue;
}

.ongoing-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.ongoing-img {
border-radius: 10px;
  width: 300px;
  height: 250px;
  object-fit: cover;
   box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);

}

.ongoing-slide > .ongoing-info {
  text-align: left;
  margin-top: 10px;
    width: 100%;
}

.ongoing-info-title{
    font-size: 20px;
    color: black;
    font-weight: bold;
}

.ongoing-info-artistName{
    font-size: 17px;
    color: gray;
}

.ongoing-info-endTime{
 font-size: 15px;
    color: red;
}


/*ongoing-auction end*/

/*upcoming-auction start*/

.upcomingAuc{
      width: 100%;
      height: 450px;
      padding-bottom: 50px;
      border-top: 1px solid black;
}

.viewAll {
    font-size: 14px;
    cursor: pointer;
    color: black;
    transition: color 0.3s;
}

.viewAll:hover {
    color: blue;
}

.upcoming-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.upcoming-img {
border-radius: 10px;
  width: 300px;
  height: 250px;
  object-fit: cover;
   box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
}

.upcoming-slide > .upcoming-info {
  text-align: left;
  margin-top: 10px;
  width: 100%;
}

.upcoming-info-title{
    font-size: 20px;
    color: black;
    font-weight: bold;
}

.upcoming-info-artistName{
    font-size: 17px;
    color: gray;
}

.upcoming-info-endTime{
    font-size: 15px;
    color: red;
}

/*upcoming-auction end*/

/*bestArtist-container start*/
.bestArtist-container{
       padding: 0px 300px;
       width: 100%;
      margin-top: 40px;
}

.bestArtist-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    margin-top: 80px;
    border-bottom: 1px solid black;
}

.artist-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;

}

.best-artist-section {
    text-align: left;
    background: linear-gradient(to top, #5eb6b9, #b2814c);
    padding: 20px;
    margin-top: 30px;
}

.artist-info {
    flex: 1 1 300px;
    color: white;
    padding: 20px;
    font-size: 18px;
    font-weight: bold;
    max-width: 600px;
}

.artist-image img {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 10px;
    margin-right: 20px;
}

.bestArtist-info-title,
.bestArtist-info-artistName {
    font-size: 20px;
    color: white;
    font-weight: bold;
    margin-bottom: 10px;
    display: flex;
}

.bestArtist-info-description {
    font-size: 17px;
    color: white;
    margin-bottom: 10px;
}

.bestArtist-info-endTime {
    font-size: 15px;
    color: red;
}

@media (max-width: 640px) {
    .artist-container {
        flex-direction: column;
        text-align: center;
    }

    .artist-info {
        padding: 10px;
        max-width: 100%;
    }

    .artist-image img {
        max-width: 100%;
    }
}

/*bestArtist-container end*/
.guide-container {
    margin-bottom: 100px;
    padding: 0px 300px;
}

.guide-Title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    margin-top: 80px;
    border-bottom: 1px solid black;
}

.guide-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    margin-top: 30px;
}

.guide-section img{
    width: 200px;
    height: 200px;
}

.guide-section-left{
background: #C9D6FF;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #E2E2E2, #C9D6FF);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #E2E2E2, #C9D6FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
width: 400px;
border-radius: 10px;
}

.guide-section-right{
background: #EFEFBB;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #D4D3DD, #EFEFBB);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #D4D3DD, #EFEFBB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
width: 400px;
border-radius: 10px;
}

.guide-section-left, .guide-section-right {
    position: relative;
    width: 500px;
}

.howToBuyTitle, .howToSellTitle{
    font-size : 18px;
    font-weight: bold;
}

.howToBuyBody, .howToSellBody{
    font-size : 14px;
    color: #888;
}
.text-overlay {
    position: absolute;
    bottom: 50px;  /* 이미지 하단에서의 거리 */
    right: 10px;   /* 이미지 우측에서의 거리 */
    padding: 10px;
}

.text-overlay div{
    margin-top: 5px;
}
/*guide-container start*/



/*guide-container end*/
@media (max-width: 640px) {
  .main-container {
    padding: 0;
  }
}