<html layout:decorate="~{layout/layout}">
<div layout:fragment="content" class="">
    <!-- Swiper -->
    <div class="swiper mySwiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img class="banner-img" th:src="@{/image/갤러리배너.jpg}" alt="이미지 1">
            </div>
            <div class="swiper-slide">
                <img class="banner-img" th:src="@{/image/협업배너.png}" alt="이미지 2">
            </div>
            <div class="swiper-slide">
                <img class="banner-img" th:src="@{/image/작가모집배너.png}" alt="이미지 3">
            </div>
            <div class="swiper-slide">
                <img class="banner-img" th:src="@{/image/배너동영상.gif}" alt="GIF 이미지">
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>

    <div class="mx-2 md:mx-0">

    <div class="main-container">

        <div class="ongoing-container">

            <div th:if="${#lists.isEmpty(activeAuctionProducts)}">
                <div class="aucTitle">
                    <div style="margin-bottom: 5px;">등록된 작품</div>
                    <a th:href="@{/product/list}">
                        <div class="viewAll text-black">전체보기 →</div>
                    </a>
                </div>
                <div th:if="${#lists.isEmpty(productList)}" class="flex justify-center items-center h-80">
                    <p class="text-center text-gray-500 text-lg">등록된 작품이 없습니다.</p>
                </div>
                <div class="swiper ongoingAuc">
                    <div class="swiper-wrapper mt-4">
                        <div class="swiper-slide ongoing-slide bg-white overflow-hidden" th:each="product : ${productList}">
                            <a th:href="@{|/product/detail/${product.id}|}"
                                class="block w-full h-64 overflow-hidden transition-transform duration-500 hover:translate-y-[-6px] hover:shadow-md">
                                <img class="bg-gray-100 object-contain object-center w-full h-full transition-transform duration-500"
                                    th:src="@{${product.thumbnailImg}}"
                                    alt="이미지가 존재하지 않습니다.">
                            </a>
                            <div class="ongoing-info">
                                <div class="ongoing-info-title" th:text="${product.title}">작품 제목</div>
                                <div class="ongoing-info-artistName" th:text="${product.artist.korName}">작가 이름</div>
                                <hr>
                                <span style="font-size: 14px; color: gray;">현재가</span>
                                <br>
                                <span style="font-size: 14px; position: relative; top: -8px;" class="ongoing-info-currentBid-kor"> KRW <span style="font-size: 14px;" class="ongoing-info-currentBid"  th:text="${product.formattedCurrentBid}">현재 경매가</span></span>

                            </div>
                        </div>
                    </div>
                    <div class="swiper-pagination ongoing-pagination"></div>
                </div>
            </div>
            <div th:if="${not #lists.isEmpty(activeAuctionProducts)}">
                <div class="aucTitle">
                    <div style="margin-bottom: 5px;">진행중인 경매</div>
                    <a th:href="@{/auction/list}">
                        <div class="viewAll text-black">전체보기 →</div>
                    </a>
                </div>
                <div class="swiper ongoingAuc">
                    <div class="swiper-wrapper mt-4">
                        <div class="swiper-slide ongoing-slide bg-white overflow-hidden" th:each="product : ${activeAuctionProducts}">
                            <a th:href="@{|/product/detail/${product.id}|}"
                               class="block w-full h-64 overflow-hidden transition-transform duration-500 hover:translate-y-[-6px] hover:shadow-md">
                                <img class="bg-gray-100 object-contain object-center w-full h-full transition-transform duration-500"
                                     th:src="@{${product.thumbnailImg}}"
                                     alt="이미지가 존재하지 않습니다.">
                            </a>
                            <div class="ongoing-info">
                                <div class="ongoing-info-title" th:text="${product.title}">작품 제목</div>
                                <div class="ongoing-info-artistName" th:text="${product.artist.korName}">작가 이름</div>
                                <hr>
                                    <span style="font-size: 14px; color: gray;">현재가</span>
                                    <br>
                                    <span style="font-size: 14px; position: relative; top: -8px;" class="ongoing-info-currentBid-kor"> KRW <span style="font-size: 14px;" class="ongoing-info-currentBid"  th:text="${product.formattedCurrentBid}">현재 경매가</span></span>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-pagination ongoing-pagination"></div>
                </div>
            </div>
        </div>


        <div class="upcoming-container">
            <div class="aucTitle">
                <div style="margin-bottom: 5px;">예정된 경매</div>
                <a th:href="@{/auction/scheduled}">
                    <div class="viewAll text-black">전체보기 →</div>
                </a>
            </div>
            <div th:if="${scheduledAuctions.empty}" class="flex justify-center items-center h-80">
                <p class="text-center text-gray-500 text-lg">예정된 경매가 없습니다.</p>
            </div>
            <div class="flex items-center space-x-4 pt-4" th:each="scheduledAuc : ${scheduledAuctions}">
                <!-- 사진 -->
                <div>
                    <!-- 이미지 크기 조정 -->
                    <img class="w-40 h-40 object-cover rounded-lg" src="/image/comming soon.png" alt="작품 이미지">
                </div>
                <!-- 정보 -->
                <div>
                    <!-- 텍스트 크기 조정 -->
                    <div class="text-xl font-semibold mb-2" th:text="${scheduledAuc.name}"></div>
                    <div class="mt-2">시작일</div><div class="text-base text-gray-600 mb-2" th:text="${#temporals.format(scheduledAuc.startDate, 'yyyy-MM-dd HH:mm')}"></div>
                    <div class="mt-2">마감일</div><div class="text-base text-gray-500" th:text="${#temporals.format(scheduledAuc.endDate, 'yyyy-MM-dd HH:mm')}"></div>
                </div>
            </div>
        </div>

    </div>

    <div class="marquee-wrapper mt-20 md:px-[300px]">
        <div class="marquee">
            <div class="marquee__group">
                <!-- 반복할 이미지들 -->
                <img src="image/땅하늘우주.jpg" alt="Description 1">
                <img src="image/나무들.jpg" alt="Description 2">
                <img src="image/은하계.jpg" alt="Description 3">
                <img src="image/산사진.jpg" alt="Description 4">
                <img src="image/노란머리여자사진.jpg" alt="Description 5">
                <!-- 추가 이미지들 -->
            </div>
            <div aria-hidden="true" class="marquee__group">
                <!-- 반복할 이미지들 (동일한 이미지들) -->
                <img src="image/땅하늘우주.jpg" alt="Description 1">
                <img src="image/나무들.jpg" alt="Description 2">
                <img src="image/은하계.jpg" alt="Description 3">
                <img src="image/산사진.jpg" alt="Description 4">
                <img src="image/노란머리여자사진.jpg" alt="Description 5">
                <!-- 추가 이미지들 -->
            </div>
        </div>

        <div class="marquee marquee--reverse mt-5">
            <div class="marquee__group">
                <!-- 반대 방향으로 스크롤할 이미지들 -->
                <img src="image/천사와악마.jpg" alt="Description 5">
                <img src="image/폭포.jpg" alt="Description 4">
                <img src="image/토끼.jpg" alt="Description 3">
                <img src="image/바다.jpg" alt="Description 2">
                <img src="image/들판.jpg" alt="Description 1">
                <!-- 추가 이미지들 -->
            </div>
            <div aria-hidden="true" class="marquee__group">
                <!-- 반대 방향으로 반복할 이미지들 -->
                <img src="image/천사와악마.jpg" alt="Description 5">
                <img src="image/폭포.jpg" alt="Description 4">
                <img src="image/토끼.jpg" alt="Description 3">
                <img src="image/바다.jpg" alt="Description 2">
                <img src="image/들판.jpg" alt="Description 1">
                <!-- 추가 이미지들 -->
            </div>
        </div>
    </div>




    <div class="bestArtist-container w-full mt-20 md:px-[300px]">
        <div class="bestArtist-title flex justify-between items-center font-bold mt-20 border-b border-black">
            <div class="bestArtist-title-text" style="margin-bottom: 5px; font-size: 24px;">추천 작가</div>
        </div>
        <div class="best-artist-section text-left bg-gradient-to-t from-teal-500 to-orange-500 p-5 mt-4" th:each="topProduct : ${topProduct}">
            <div class="artist-container flex flex-col md:flex-row items-center justify-between mb-5">
                <div class="artist-info flex-1 text-white p-1 max-w-full md:max-w-xl">
                    <div class="text-2xl md:text-4xl text-white font-bold mb-2 flex flex-wrap">
                        <div class="bestArtist-info-artistName" th:text="${topProduct.artist.korName}">
                            작가 이름
                        </div>
                        (<div class="bestArtist-info-title ml-1" th:text="${topProduct.title}">작품 이름</div>)
                    </div>
                    <div class="bestArtist-info-description text-base md:text-xl text-white mb-2" th:text="${topProduct.description}">작품 설명</div>
                    <div class="bestArtist-info-endTime text-xs md:text-sm text-white" th:text="${#temporals.format(topProduct.auctionStartDate, 'yyyy-MM-dd HH:mm')}">예정 07-24 3:00 PM</div>
                </div>
                <a th:href="@{|/product/detail/${topProduct.id}|}" class="artist-image w-full max-w-xs md:max-w-xs rounded-lg">
                    <img th:src="@{${topProduct.thumbnailImg}}" alt="이미지 1" class="w-full rounded-lg">
                </a>
            </div>
        </div>
    </div>



    <div class="guide-container mb-24 mt-20 md:px-[300px]">
        <div class="guide-title flex justify-between items-center text-xl font-bold mt-20 border-b border-black">
            <div class="guide-title-text" style="margin-bottom: 5px; font-size: 24px;">경매 가이드</div>
        </div>
        <div class="guide-section flex flex-col gap-4 md:flex-row justify-between items-center mt-4">
            <div class="guide-section-left relative bg-gradient-to-l from-gray-200 to-indigo-200 w-full md:w-1/2 p-4">
                <div class="text-overlay absolute bottom-10 right-4 p-2">
                    <div class="how-to-buy-title text-lg font-bold">구매 방법</div>
                    <div class="how-to-buy-body text-sm text-gray-600">어렵지 않게 경매에 참여해보세요!!</div>
                    <a href="/home/howToBuy"><div class="text-blue-600 mt-1">더 알아보기 &gt;</div></a>
                </div>
                <img src="/image/구매.png" alt="구매 이미지" class="w-32 h-32 md:w-48 md:h-48">
            </div>
            <div class="guide-section-right relative bg-gradient-to-l from-gray-300 to-yellow-200 w-full md:w-1/2 p-4">
                <div class="text-overlay absolute bottom-10 right-4 p-2">
                    <div class="how-to-sell-title text-lg font-bold">판매 방법</div>
                    <div class="how-to-sell-body text-sm text-gray-600">작가가 되어 그림을 올려보세요</div>
                    <a href="/home/howToSell"><div class="text-blue-600 mt-1">더 알아보기 &gt;</div></a>
                </div>
                <img src="/image/판매.png" alt="판매 이미지" class="w-32 h-32 md:w-48 md:h-48">
            </div>
        </div>
    </div>





    </div>

</div>
</html>



